<%= form_for(@bar_tab) do |f| %>
  <% if @bar_tab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bar_tab.errors.count, "error") %> prohibited this bar_tab from being saved:</h2>

      <ul>
      <% @bar_tab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= f.text_field :challenge_id %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :table %><br>
    <%= f.number_field :table %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </div>
  <div class="field">
    <%= f.label :delivered %><br>
    <%= f.check_box :delivered %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
