<div class="white-back">
<p id="notice"><%= notice %></p>

<h1>Bar Tabs</h1>
<div class="table-responsive leaderboard">
<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Fight</th>
      <th>Status</th>
      <th>Delivered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar_tabs.each do |bar_tab| %>
      <tr>
        <td><%= bar_tab.challenge.winner %></td>
        <td><%= bar_tab.item %></td>
        <td><%= bar_tab.challenge.fight.bout %></td>
        <td><%= bar_tab.status %></td>
        <td><%= bar_tab.delivered %></td>
        <td><%= link_to 'Show', bar_tab %></td>
        <td><%= link_to 'Edit', edit_bar_tab_path(bar_tab) %></td>
        <td><%= link_to 'Destroy', bar_tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Bar tab', new_bar_tab_path %>
</div>