<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bar_tab.challenge %>
</p>

<p>
  <strong>Item:</strong>
  <%= @bar_tab.item %>
</p>

<p>
  <strong>Table:</strong>
  <%= @bar_tab.table %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bar_tab.status %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @bar_tab.delivered %>
</p>

<%= link_to 'Edit', edit_bar_tab_path(@bar_tab) %> |
<%= link_to 'Back', bar_tabs_path %>
