<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @season.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @season.end %>
</p>

<p>
  <strong>Active:</strong>
  <%= @season.active %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
