<% if user_signed_in? %> 
	<div class="row user-info">
		<%= render 'shared/user_header' %>
		<!-- User Header -->
	</div>
	<div class="clearfix"></div>
		<%= render 'shared/leagues_slider' %>

		<%= render 'shared/events_slider' %>


<% else %> 
<div id="welcome" class="row">
	<div class="col-sm-12">
	<div class="jumbotron text-center">
		<h1>Play MMA Fantasy Games for FREE!</h1>
		<p class="lead">Predict fights. Draft fighters. Challenge friends.</p>
		<%= link_to "Sign up Today!", new_user_registration_path, class: "btn btn-primary" %>
	</div>
	</div>
</div>
<% end %> 
