<div class="row">
	<div class="col-xs-12 rules">
		<h1 class="text-center">Fantasy Event Rules</h1>
		<hr>
		<h2>PLAYER PICKS MODE</h2>
		
		<p>Each player picks fighters, round and method.</p>
		
		<p>Picks are based on players’ discretion.</p>
		
		<p>All picks must be submitted before cut off.</p>
		
		<h2>LEAGUE MANAGEMENT</h2>
		
		<p>League competition has four options:</p>
		
		<ol>
			<li>CHALLENGE: Player selects the player from league list with an opposing pick and the player is challenged by clicking button</li>
			<li>ACCEPT: Opposing player accepts challenge</li>
			<li>TAP-OUT: Opposing player declines challenge</li>
			<li>DOUBLE DOWN: Doubles the amount of points during the challenge</li>
		</ol>
		
		<h2>SCORING</h2>
		
		<ul>
			<li><strong>1</strong> point for <strong>CORRECT FIGHTER</strong></li>
			<li>Points for <strong>CORRECT METHOD:</strong></li>
			<ul>
				<li><strong>2</strong> points for <strong>CORRECT METHOD: TKO/KO</strong></li>
				<li><strong>2</strong> points for <strong>CORRECT METHOD: SUBMISSION</strong></li>
				<li><strong>1</strong> point for <strong>CORRECT METHOD: DECISION</strong> (no points for round if fighter wins by decision)</li>
			</ul>
				<li><strong>2</strong> points for <strong>CORRECT ROUND</strong></li>
			<li><strong>0</strong> points for a <strong>DRAW</strong></li>
			<li><strong>5</strong> points for a <strong>CHALLENGE</strong></li>
			<li><strong>10</strong> points for a <strong>DOUBLE DOWN</strong></li>
		</ul>
		<h2>MATCH MULTIPLIERS</h2>    
		
		<p>Each match has its own multiplier to points:</p>
		
		<ul>
			<li><strong>PRELIM</strong> matches are 1x to victory points.</li>
			<li><strong>MAIN CARD</strong> matches are 2X to victory points.</li>
			<li><strong>CO-MAIN EVENT</strong> matches are 3X to victory points.</li>
			<li><strong>MAIN EVENT</strong> matches are 4X to victory points.</li>
			<li><strong>CHAMPIONSHIP</strong> matches are 5X to victory points.</li>
		</ul>
		<h2>PRIZES</h2>
		
		<p><strong>BELTS:</strong> Victory points can raise your belt level. The higher the level, the more you can challenge.</p>
		
		<p><strong>LEADER BOARD:</strong> Points collected are bragging rights.</p>
		
		<p><strong>TROPHY:</strong> Fantasy Event winners are marked with a trophy by their name and qualify for an invite for more elite games.</p>
	</div>
</div>