<%= form_for(@game_state) do |f| %>
  <% if @game_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_state.errors.count, "error") %> prohibited this game_state from being saved:</h2>

      <ul>
      <% @game_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :picks_locked %><br>
    <%= f.check_box :picks_locked %>
  </div>
  <div class="field">
    <%= f.label :roster_locked %><br>
    <%= f.check_box :roster_locked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
