<p id="notice"><%= notice %></p>

<h1>Listing Game States</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Picks locked</th>
      <th>Roster locked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_states.each do |game_state| %>
      <tr>
        <td><%= game_state.user %></td>
        <td><%= game_state.event %></td>
        <td><%= game_state.picks_locked %></td>
        <td><%= game_state.roster_locked %></td>
        <td><%= link_to 'Show', game_state %></td>
        <td><%= link_to 'Edit', edit_game_state_path(game_state) %></td>
        <td><%= link_to 'Destroy', game_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game state', new_game_state_path %>
