<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_state.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @game_state.event %>
</p>

<p>
  <strong>Picks locked:</strong>
  <%= @game_state.picks_locked %>
</p>

<p>
  <strong>Roster locked:</strong>
  <%= @game_state.roster_locked %>
</p>

<%= link_to 'Edit', edit_game_state_path(@game_state) %> |
<%= link_to 'Back', game_states_path %>
