  <%= form_for(@league) do |f| %> <% if @league.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>
  
        <ul>
        <% @league.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <% if @league.owner_id == nil %>
      <%= f.hidden_field :owner_id, :value => current_user.id %> 
    <% end %>
  
    <div class="field">
      <%= f.label :name, "League Name" %>
      <%= f.text_field :name %>
      <p class="subtext"><em>Choose your league name.</em></p>
    </div>
    <div class="field">
      <%= f.label :season %>
      <%= f.select :kind, options_for_select([["Fight Night: " + @latest_event.title, "Fight Night"], ["Season: " + @latest_season.name, "Season"]], @league.kind), prompt: "Please select a Season." %>
      <p class="subtext"><em>Select a season for your league.</em></p>
    </div>
    <div class="field">
      <%= f.label :flare_id %> 
      <%= f.collection_select(:flare_id, Flare.all, :id, :title, prompt: "Choose your flare") %>
      <p class="subtext"><em>Select flare for your league.</em></p>
    </div>
    <div class="field">
      <%= f.label :open %>
      <%= f.check_box :open %>
      <p class="subtext"><em>Make your league open by selecting this box. Leave blank if private.</em></p>
    </div>
    <%= f.fields_for :memberships do |ff| %>
      <%= ff.object.user.username %> | 
      <%= ff.object.user.email %> | 
      <%= ff.label :commissioner %>
      <%= ff.check_box :commissioner %> <br>
    <% end %> 
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

