<div id="edit-league-form" class="row">
	<div class="col-xs-12">
		<h1>Edit your league settings</h1>
		
		<%= render 'form' %>
		
		<%= link_to 'Visit this league', @league, class: "btn btn-primary" %> |
		<%= link_to 'See all leagues', leagues_path, class: "btn btn-primary"  %>
	</div>
</div>
