<div class="row">
  <div class="col-xs-12 open-leagues">
    <h1>Available Leagues</h1>
    <p>Join any open league and earn more points and coins</p>
    <% @openleagues.each do |league| %>
      <div class="col-xs-12">
        <div class="row league">
          <div class="col-xs-8">
          <%= image_tag league.flare.image, class: "league-flare" %>
            <p><%= league.name %> <em><%= league.owned_by(current_user) %></em></p>
            <p><%= league.season.name %></p>
            <p>Members: <%= league.memberships.count %></p>
          </div>
          <div class="col-xs-4">
          <% @membership_exist = Membership.find_by(league_id: league.id, user_id: current_user.id) %>
          <% if @membership_exist == nil %>

            <%= form_for @membership, :url => memberships_path do |w| %>
              <%= w.hidden_field :league_id, :value => league.id %>
              <%= w.hidden_field :user_id, :value => current_user.id %> 
              <%= w.submit "Join this League?", class: "btn btn-success btn-responsive" %>
            <% end %> 

          <% else %> 

            <%= link_to 'Visit League', league, class: "btn btn-primary btn-responsive" , onclick: "userFindsAndVisitsLeague();" %>

         <% end %>
            
            <% if current_user.admin? || current_user == league.owner %> 
              <%= link_to 'Edit', edit_league_path(league), class: "btn btn-primary btn-responsive" %>
              <%= link_to 'Delete league?', league, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-responsive" %>
            <% end %> 
        
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 my-leagues">
      <div class="row">
        <div class="col-xs-8">
          <h1>My Leagues</h1>
          <p>Here are your leagues.</p>
        </div>
        <div class="col-xs-4">
          <%= link_to 'Create League', new_league_path, class: "btn btn-success btn-responsive" %>
        </div>
      </div>
      <% @myleagues.each do |myleague| %>
        <div class="col-xs-12">
          <div class="row league">
            <div class="col-xs-8">
            <%= image_tag myleague.flare.image, class: "league-flare" %>
              <p><%= myleague.name %></p>
              <p><%= myleague.season.name %></p>
              <p>Members: <%= myleague.memberships.count %></p>
            </div>
            <div class="col-xs-4">
              <%= link_to 'Visit League', myleague, class: "btn btn-primary btn-responsive" %>
              <% if current_user.admin? || current_user == myleague.owner %> 
                <%= link_to 'Edit', edit_league_path(myleague), class: "btn btn-primary btn-responsive" %>
                <%= link_to 'Delete league?', myleague, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-responsive" %>
              <% end %> 
                
            </div>
          </div>
        </div>
      
      <% end %> 
    </div>
</div>
