<div id="new-league-form" class="row">
	<div class="col-xs-12">
		<h1>Create your own League</h1>
		
		<%= render 'form' %>
		
		<%= link_to 'Back to Leagues', leagues_path, class: "btn btn-primary" %>
	</div>
</div>