<!-- Hold off on FB <div id="fb-root"></div> -->

<div id="league-header" class="row">
<div class="col-xs-12">
    <%= image_tag @league.flare.image_url(:profile).to_s, class: "league-profile-pic" %>
      <span class="league-title"><strong>Name:</strong> <%= @league.name %> <br></span>
    <% if current_user.admin? || current_user == @league.owner %> 
      (<%= link_to 'Edit', edit_league_path(@league), onclick: "userWillEditLeague();" %>)
    <% end %>
    <br>
<span class="sub-header"><strong>League size</strong><br><%= @league.memberships.count %> Players</span>
<p class="sub-header">
    <strong><%= @league.kind %></strong> <br>
    <%= @league.season_name %>
</p>

</div>

</div>


<div id="league-leaderboard" class="row">
  <div class="col-xs-12" id="players">
    <h1 class="title text-center">Leaderboard</h1>
    <% @league.memberships.sort_by(&:season_points_sort).reverse.each_with_index do |member, index| %>

      <div class="player col-sm-6">
        <% if index == 0 %> 
           <i class="fa fa-trophy" data-toggle="tooltip" data-placement="right" title="<%= member.points_till_champion(current_user, @league) %>"></i>
           <span class="rank">
           </span>
        <% else %> 
            <span class="rank">
              <%= index %>
            </span>
        <% end %> 
        <% unless member.user.fighter == nil %>
          <%= image_tag member.user.fighter.image, class: "img-league-member hidden-xs" %> <%= link_to member.user.username, user_path(member.user.id) %>
        <% else %> 
          <%= image_tag "placeholder.png", class: "img-league-member hidden-xs" %> <%= link_to member.user.username, user_path(member.user.id) %>
        <% end %> 
          <span class="points pull-right"> 
            <strong><%= member.season_points(member) %></strong>
            <small>points</small>
          </span>
      
      </div>
    <% end %>
  </div>
</div>

<div>
  <% if @league.memberships.count > 8 %>
  <a href="#" id="btnSeeMore" class="btn-sm btn-primary pull-right" onclick="userClicksSeeMoreLeaguePlayers();">See More League Members</a>
  <a href="#" id="btnSeeLess" class="btn-sm btn-primary pull-right">See Less League Members</a>
  <% end %> 
</div>

<div id="invite" class="row leaderboard text-center">
  <%= form_for @invite , :url => invites_path do |f| %>
      <%= f.hidden_field :league_id, :value => @league.id %>
      <p>Invite friends to join league</p>
      <%= f.email_field :email, placeholder: "Enter an email address" %>
      <%= f.submit 'Send', onclick: "userInvitesFriend();" %>
    <!-- hold off on FB 
    <div class="fb-share-button" data-href="https://cryptic-thicket-3219.herokuapp.com/" data-layout="button"></div>
    --> 
  <% end %>

</div>


<div class="league-member-header row">
  <div class="col-xs-12">
      <% if @league.memberships.where(user_id: current_user.id).exists? %> 
          <% your_membership = @league.memberships.where(user_id: current_user.id).take %>
          <% @league.memberships.sort_by(&:season_points_sort).reverse.each_with_index do |member, index| 
              if member == your_membership %> 
             
                  <div class="col-sm-3 col-xs-5">
                  <% unless your_membership.user.fighter == nil %>
                    <%= image_tag your_membership.user.fighter.image, class: "profile-pic" %>
                  <% else %>
                    <%= image_tag "placeholder.png", class: "profile-pic" %>
                  <% end %> 

                  </div>

                  <div class="col-sm-5 col-xs-7">
                    <p><%= your_membership.user.username %> <br>
                    <strong>League Ranking:</strong> <br>
                    <% if index == 0 %> 
                    Champion
                    <% else %>
                    <%=  index.ordinalize %> place Contender</p>
                    <% end %> 
                  </div>
                  <div class="col-sm-4 col-xs-7">
                    <p><strong>Coins:</strong> <%= your_membership.user.coins %></p>
                  </div>
              <% end %> 
          <% end %> 
      <% end %>
  </div>
</div>



<div id="challenges" class="row">
  <%= render "shared/challenges_slider" %> 
</div>

<div class="text-center actions">
  <% if @membership_exist == nil %>

    <%= form_for @membership, :url => memberships_path do |w| %>
      <%= w.hidden_field :league_id, :value => @league.id %>
      <%= w.hidden_field :user_id, :value => current_user.id %> 
      <%= w.submit "Join this League?", class: "btn btn-success btn-responsive", onclick: "userJoinsLeague();" %>
    <% end %> 

  <% else %> 

    <%= form_for @membership, :url => membership_path, method: :delete, data: { confirm: 'Are you sure? You will lose access to this league and members.' } do |e| %>
    <%= e.hidden_field :league_id, :value => @league.id %> 
    <%= e.hidden_field :user_id, :value => current_user.id %>
    <%= e.submit "Leave this league?", class: "btn btn-danger btn-responsive" %>
    <% end %> 

 <% end %> 

</div>