<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @point.user %>
</p>

<p>
  <strong>Points:</strong>
  <%= @point.points %>
</p>

<p>
  <strong>Money:</strong>
  <%= @point.money %>
</p>

<p>
  <strong>Challenges:</strong>
  <%= @point.challenges %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
