<p id="notice"><%= notice %></p>
<%= link_to 'New Fighter', new_fighter_path %>

<h1>Listing Fighters</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Nickname</th>
      <th>Weightclass</th>
      <th>Country</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fighters.order(created_at: :desc).each do |fighter| %>
      <tr>
        <td><%= fighter.first_name %></td>
        <td><%= fighter.last_name %></td>
        <td><%= fighter.nickname %></td>
        <td><%= fighter.weightclass %></td>
        <td><%= fighter.country %></td>
        <td><%= fighter.active %></td>
        <td><%= link_to 'Show', fighter %></td>
        <td><%= link_to 'Edit', edit_fighter_path(fighter) %></td>
        <td><%= link_to 'Destroy', fighter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

