<%= image_tag @fighter.image_url(:profile).to_s %>
<p>
  <strong>First name:</strong>
  <%= @fighter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fighter.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @fighter.nickname %>
</p>

<p>
  <strong>Weightclass:</strong>
  <%= @fighter.weightclass %>
</p>

<p>
  <strong>Country:</strong>
  <%= @fighter.country %>
</p>

<p>
  <strong>Active:</strong>
  <%= @fighter.active %>
</p>

<%= link_to 'New Fighter', new_fighter_path %> | 
<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
