<div class="row" id="user-settings">
  <div class="col-xs-12">
    <h2>Settings</h2>
    <hr>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-sm-3">
      <% unless @user.fighter == nil %>
        <%= image_tag @user.fighter.image, class: "profile-pic", onclick: "userClicksFighterPictureToSelectFighter" %>
      <% else %>
        <%= image_tag "placeholder.png" %>
      <% end %>
      <div id="user-info">
        <p>Name: <%= @user.username %></p>
      </div>
      <div class="field">
        <%= f.label :fighter, "Choose a fighter picture for your profile" %>
        <%= f.collection_select :fighter_id, Fighter.all.order(:last_name), :id, :full_name, onscroll: "userClicksDropDownMenuToSelectFighter" %>
        <br>
         <i>Remember to click "Update" to make any changes.</i>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :username %> <br>
        <%= f.text_field :username %>
      </div> 
        
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
        
      <div class="field">
        <%= f.label :current_password %> <i>(enter your current password to change anything)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
        
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
        
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
        
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    </div>
  <% end %>
  
  <div class="col-xs-12">
    <h3>Cancel my account</h3>
    
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%# link_to "Back", :back %>
  </div>
  
</div>