<div class="row centered-form">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sign up for MMA Fantasy <small>It's free!</small></h3>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <% if @token != nil %>
                <%= hidden_field_tag :invite_token, @token  %>
            <% end %>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", :class => "form-control input-sm" %>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.text_field :last_name, placeholder: "Last Name", :class => "form-control input-sm" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: "Email Address", :class => "form-control input-sm", value: params[:email] %>
            </div>            
            <div class="form-group">
              <%= f.text_field :username, placeholder: "Username", :class => "form-control input-sm"  %>
            </div>  
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control input-sm" %>
                </div>
              </div>              
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <% if @minimum_password_length %><br><% end %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirm", :class => "form-control input-sm" %>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <p class="text-center"><small><%= f.check_box :terms %> I agree to the Terms of service <%= link_to "here", terms_path %></small>.</p>
            </div>
            <div class="actions">
              <%= f.submit "Register", :class => "btn btn-info btn-block" %>
            </div>

          <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="jumbotron">
      <h3>Already have an account?<br>Log in up top.</h3>
    </div>
  </div>
  <div class="col-sm-1"></div> 
</div>