<div class="row white-back">
	<div class="col-sm-6">
		<h1>My Team</h1>
	</div>
	<div class="col-sm-6">
		<h1>Fighters by Weightclass</h1>
		<div class="panel-group" id="accordion">
			<% ["Heavyweight", "Light_Heavyweight", "Middleweight", "Welterweight", "Lightweight", "Featherweight", "Bantamweight", "Flyweight", "Women_Bantamweight", "Women_Strawweight"].each do |weightclass| %> 
				<div class="panel panel-default"> <!-- <%= weightclass %> --> 
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= weightclass %>">	
				        	<%= weightclass %>
				        </a>
				      </h4>
				    </div>	
					<div id="<%= weightclass %>" class="panel-collapse collapse fighters-list">
						<div class="list-body">			        	
							<table class="table table-hover">
							<thead>
								<th>Full Name</th>
								<th>Draft/Save</th>
							</thead>
							<tbody>
							<% @fighters.where(weightclass: "#{weightclass}").order(:last_name).each do |fighter| %>
								<tr>
									<td><%= fighter.full_name %></td>
									<td><%= link_to "Draft", roster_drafts_path(@roster), class: "btn btn-success" %> or Save</td>
								</tr>
							<% end %>
							</tbody> 
							</table>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>