<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head></head>

<body>
  <style>
    @media screen {
      /* Thanks Outlook 2013! */
      * {
        font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
      }
    }
    
    @media only screen and (max-width: 480px) {
      table[class*="container-for-gmail-android"] {
        min-width: 290px !important;
        width: 100% !important;
      }
      table[class="w320"] {
        width: 320px !important;
      }
      img[class="force-width-gmail"] {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
      }
      a[class="button-width"],
      a[class="button-mobile"] {
        width: 248px !important;
      }
      td[class*="mobile-header-padding-left"] {
        width: 160px !important;
        padding-left: 0 !important;
      }
      td[class*="mobile-header-padding-right"] {
        width: 160px !important;
        padding-right: 0 !important;
      }
      td[class="header-lg"] {
        font-size: 24px !important;
        padding-bottom: 5px !important;
      }
      td[class="header-md"] {
        font-size: 18px !important;
        padding-bottom: 5px !important;
      }
      td[class="content-padding"] {
        padding: 5px 0 30px !important;
      }
      td[class="button"] {
        padding: 5px !important;
      }
      td[class*="free-text"] {
        padding: 10px 18px 30px !important;
      }
      td[class="info-block"] {
        display: block !important;
        width: 280px !important;
        padding-bottom: 40px !important;
      }
      td[class="info-img"],
      img[class="info-img"] {
        width: 278px !important;
      }
    }
  </style>
  <table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif; min-width: 600px;">
    <tbody>
      <tr style="font-family: Helvetica, Arial, sans-serif;">
        <td align="left" valign="top" width="100%" style="background: repeat-x url(http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg) #ffffff; border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center;">
          <center style="font-family: Helvetica, Arial, sans-serif;">
            <img src="http://s3.amazonaws.com/swu-filepicker/SBb2fQPrQ5ezxmqUTgCr_transparent.png" class="force-width-gmail" style="-ms-interpolation-mode: bicubic; font-family: Helvetica, Arial, sans-serif; font-size: 1px !important; height: 0px !important; line-height: 1px !important; max-width: 600px; min-width: 600px; outline: none; text-decoration: none;">
            <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff" background="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" style="background-color: transparent; border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
              <tbody>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td width="100%" height="80" valign="top" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center; vertical-align: middle;">
                    <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:80px; v-text-anchor:middle;">
              <v:fill type="tile" src="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" color="#ffffff" />
              <v:textbox inset="0,0,0,0">
            <![endif]-->
                    <center style="font-family: Helvetica, Arial, sans-serif;">
                      <table cellpadding="0" cellspacing="0" width="600" class="w320" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                        <tbody>
                          <tr style="font-family: Helvetica, Arial, sans-serif;">
                            <td class="pull-left mobile-header-padding-left" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding-left: 10px; text-align: left; vertical-align: middle; width: 290px;">
                              <a href="" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;"><img height="35" src="http://d12gou1j9dtpxz.cloudfront.net/assets/short-logo-app-nospace.png" alt="logo" style="-ms-interpolation-mode: bicubic; border: none; font-family: Helvetica, Arial, sans-serif; max-width: 600px; outline: none; text-decoration: none;"></a>
                            </td>
                            <td class="pull-right mobile-header-padding-right" style="border-collapse: collapse; color: #4d4d4d; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding-left: 10px; text-align: right; width: 290px;">
                              <a target="_blank" href="https://twitter.com/cageagainst" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;"><img width="44" height="47" src="http://s3.amazonaws.com/swu-filepicker/k8D8A7SLRuetZspHxsJk_social_08.gif" alt="twitter" style="-ms-interpolation-mode: bicubic; border: none; font-family: Helvetica, Arial, sans-serif; max-width: 600px; outline: none; text-decoration: none;"></a>
                              <a target="_blank" href="https://www.facebook.com/cageagainst/" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;"><img width="38" height="47" src="http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif" alt="facebook" style="-ms-interpolation-mode: bicubic; border: none; font-family: Helvetica, Arial, sans-serif; max-width: 600px; outline: none; text-decoration: none;"></a>
                              <a target="_blank" href="http://cageagainst.com/feed/" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;"><img width="40" height="47" src="http://s3.amazonaws.com/swu-filepicker/hR33ye5FQXuDDarXCGIW_social_10.gif" alt="rss" style="-ms-interpolation-mode: bicubic; border: none; font-family: Helvetica, Arial, sans-serif; max-width: 600px; outline: none; text-decoration: none;"></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </center>
                    <!--[if gte mso 9]>
              </v:textbox>
            </v:rect>
            <![endif]-->
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
      <tr style="font-family: Helvetica, Arial, sans-serif;">
        <td align="center" valign="top" width="100%" style="background-color: #f7f7f7; border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 20px 0 30px; text-align: center;" class="content-padding">
          <center style="font-family: Helvetica, Arial, sans-serif;">
            <table cellspacing="0" cellpadding="0" width="600" class="w320" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
              <tbody>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td class="header-lg" style="border-collapse: collapse; color: #4d4d4d; font-family: Helvetica, Arial, sans-serif; font-size: 32px; font-weight: 700; line-height: normal; padding: 35px 0 0; text-align: center;">
                    <%= message.subject %>
                  </td>
                </tr>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td class="free-text" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px 60px 0px; text-align: center; width: 100% !important;">
                    You're all signed up!<br style="font-family: Helvetica, Arial, sans-serif;">Login and make your picks for <strong style="font-family: Helvetica, Arial, sans-serif;"><%= @nextevent.title %></strong>!
                  </td>
                </tr>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td class="button" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 30px 0; text-align: center;">
                    <div style="font-family: Helvetica, Arial, sans-serif;">
                      <!--[if mso]>
                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:155px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                  <w:anchorlock/>
                  <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                </v:roundrect>
              <![endif]--><a class="button-mobile" href="http://fantasy.cageagainst.com" style="-webkit-text-size-adjust: none; background-color: #ff6f6f; border-radius: 5px; color: #ffffff; display: inline-block; font-family: 'Cabin', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: regular; line-height: 45px; mso-hide: all; text-align: center; text-decoration: none !important; width: 155px;">Login and Play!</a></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
      <tr style="font-family: Helvetica, Arial, sans-serif;">
        <td align="center" valign="top" width="100%" style="background-color: #ffffff; border-bottom: 1px solid #e5e5e5; border-collapse: collapse; border-top: 1px solid #e5e5e5; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center;">
          <center style="font-family: Helvetica, Arial, sans-serif;">
            <table cellpadding="0" cellspacing="0" width="600" class="w320" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
              <tbody>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td class="content-padding" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 20px 0 30px; text-align: center;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                      <tbody>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td class="header-md" style="border-collapse: collapse; color: #4d4d4d; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 700; line-height: normal; padding: 35px 0 0; text-align: center;">
                            Welcome to the Game!
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding-bottom: 70px; text-align: center;">
                    <table cellpadding="0" cellspacing="0" width="100%" class="w320 cage-note" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                      <tbody>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px; text-align: left;">
                            <%= @user.first_name.capitalize %>,
                          </td>
                        </tr>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px; text-align: left;">Congratulations! You have successfully signed up for Cage Machine. I am excited for you to be a part of the community and look forward to all the awesome experiences you will have. To complete your signup, you need to make picks for the <%= @nextevent.title %> event. 
                          </td>
                        </tr>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px; text-align: left;"><a href="https://cryptic-thicket-3219.herokuapp.com/rules" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;">Rules</a></td>
                        </tr>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px; text-align: left;">Having trouble making your picks? I want to help! Take a look at our support section where you can find answers to common problems during the gameplay and submit help requests.</td>
                        </tr>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px; text-align: left;">How To Make Picks Video.</td>
                        </tr>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 10px; text-align: left;">Your friend the Cage Machine.</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="font-family: Helvetica, Arial, sans-serif; text-align: center;">
                  <td style="border-bottom: solid thin #C7C7C7; border-collapse: collapse; color: #4d4d4d; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 700; line-height: normal; padding: 35px 0 0; padding-bottom: 50px; text-align: center;" class="header-md">
                    Other ways to engage!
                  </td>
                </tr>

                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 40px 0px 75px; text-align: center;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                      <tbody>
                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                          <td class="info-block" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 0 20px; text-align: center; width: 260px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                              <tbody>
                                <tr style="font-family: Helvetica, Arial, sans-serif;">
                                  <td class="block-rounded" style="border: 1px solid #e5e5e5; border-collapse: collapse; border-radius: 5px; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center; vertical-align: top; width: 260px;">
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                                      <tbody>
                                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                                          <td class="info-img" style="border-collapse: collapse; border-radius: 5px 5px 0 0; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center; width: 258px;">
                                            <a target="_blank" href="http://cageagainst.com" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;"><img class="info-img" src="http://d12gou1j9dtpxz.cloudfront.net/images/cage-website-thumb.png" alt="website image" style="-ms-interpolation-mode: bicubic; border: none; border-radius: 5px 5px 0 0; font-family: Helvetica, Arial, sans-serif; max-width: 600px; outline: none; text-decoration: none; width: 258px;"></a>
                                          </td>
                                        </tr>
                                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 15px; text-align: center;">
                                            <div style="font-family: Helvetica, Arial, sans-serif;">
                                              <!--[if mso]>
                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:228px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                                    <w:anchorlock/>
                                    <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                                  </v:roundrect>
                                <![endif]--><a target="_blank" class="button-width" href="http://cageagainst.com" style="-webkit-text-size-adjust: none; background-color: #ff6f6f; border-radius: 5px; color: #ffffff; display: inline-block; font-family: 'Cabin', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: regular; line-height: 45px; mso-hide: all; text-align: center; text-decoration: none !important; width: 228px;">Visit Website!</a></div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="info-block" style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 0 20px; text-align: center; width: 260px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                              <tbody>
                                <tr style="font-family: Helvetica, Arial, sans-serif;">
                                  <td class="block-rounded" style="border: 1px solid #e5e5e5; border-collapse: collapse; border-radius: 5px; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center; vertical-align: top; width: 260px;">
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                                      <tbody>
                                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                                          <td class="info-img" style="border-collapse: collapse; border-radius: 5px 5px 0 0; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; text-align: center; width: 258px;">
                                            <a target="_blank" href="http://soundcloud.com/cage-against-the-machine" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;"><img width="258" height="210" class="info-img" src="http://d12gou1j9dtpxz.cloudfront.net/images/podcast-thumb.png" alt="img" style="-ms-interpolation-mode: bicubic; border: none; border-radius: 5px 5px 0 0; font-family: Helvetica, Arial, sans-serif; max-width: 600px; outline: none; text-decoration: none; width: 258px;"></a>
                                          </td>
                                        </tr>
                                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                                          <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 15px; text-align: center;">
                                            <div style="font-family: Helvetica, Arial, sans-serif;">
                                              <!--[if mso]>
                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:228px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                                    <w:anchorlock/>
                                    <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                                  </v:roundrect>
                                <![endif]--><a target="_blank" class="button-width" href="http://soundcloud.com/cage-against-the-machine" style="-webkit-text-size-adjust: none; background-color: #ff6f6f; border-radius: 5px; color: #ffffff; display: inline-block; font-family: 'Cabin', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: regular; line-height: 45px; mso-hide: all; text-align: center; text-decoration: none !important; width: 228px;">Listen to Podcast!</a></div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
      <tr style="font-family: Helvetica, Arial, sans-serif;">
        <td align="center" valign="top" width="100%" style="background-color: #f7f7f7; border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; height: 100px; line-height: 21px; text-align: center;">
          <center style="font-family: Helvetica, Arial, sans-serif;">
            <table cellspacing="0" cellpadding="0" width="600" class="w320" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
              <tbody>
                <tr style="font-family: Helvetica, Arial, sans-serif;">
                  <td style="border-collapse: collapse; color: #777777; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; padding: 25px 0 25px; text-align: center;">
                    Make Picks | Make Challenges | Awards Gifted<br style="font-family: Helvetica, Arial, sans-serif;"> This is a message from the <strong style="font-family: Helvetica, Arial, sans-serif;">Cage Machine:</strong><br style="font-family: Helvetica, Arial, sans-serif;">                    101 Broadway Oakland, CA 94607<br style="font-family: Helvetica, Arial, sans-serif;"> This is an automated message from the Cage Machine; please do not reply to this message<br style="font-family: Helvetica, Arial, sans-serif;">
                    <a href="https://cryptic-thicket-3219.herokuapp.com/terms" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;">Privacy</a> and <a href="mailto:ja@jashia.com?Subject=Unsubscribe%20please&Body=Please%20remove%20me%20from%20list.%20" style="color: #676767; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;">Unsubscribe</a> Policy<br style="font-family: Helvetica, Arial, sans-serif;"> © 2016. All rights reserved.<br style="font-family: Helvetica, Arial, sans-serif;">
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>