Welcome to the Game!

<%= @user.first_name.capitalize %>,

Congratulations! You have successfully signed up for Cage Machine. I am excited for you to be a part of the community and look forward to all the awesome experiences you will have. To complete your signup, you need to make picks for the <%= @nextevent.title %> event.
Visit here for Rules: https://cryptic-thicket-3219.herokuapp.com/rules

Having trouble making your picks? I want to help! Take a look at our support section  where you can find answers to common problems during the gameplay and submit help requests.

Your friend the Cage Machine.
