<table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%">
  <tr>
    <td align="left" valign="top" width="100%" style="background:repeat-x url(http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg) #ffffff;">
      <center>
      <img src="http://s3.amazonaws.com/swu-filepicker/SBb2fQPrQ5ezxmqUTgCr_transparent.png" class="force-width-gmail">
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff" background="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" style="background-color:transparent">
          <tr>
            <td width="100%" height="80" valign="top" style="text-align: center; vertical-align:middle;">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:80px; v-text-anchor:middle;">
              <v:fill type="tile" src="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" color="#ffffff" />
              <v:textbox inset="0,0,0,0">
            <![endif]-->
              <center>
                <table cellpadding="0" cellspacing="0" width="600" class="w320">
                  <tr>
                    <td class="pull-left mobile-header-padding-left" style="vertical-align: middle;">
                      <a href=""><img height="35" src="http://d12gou1j9dtpxz.cloudfront.net/assets/short-logo-app-nospace.png" alt="logo"></a>
                    </td>
                    <td class="pull-right mobile-header-padding-right" style="color: #4d4d4d;">
                      <a target="_blank" href="https://twitter.com/cageagainst"><img width="44" height="47" src="http://s3.amazonaws.com/swu-filepicker/k8D8A7SLRuetZspHxsJk_social_08.gif" alt="twitter" /></a>
                      <a target="_blank" href="https://www.facebook.com/cageagainst/"><img width="38" height="47" src="http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif" alt="facebook" /></a>
                      <a target="_blank" href="http://cageagainst.com/feed/"><img width="40" height="47" src="http://s3.amazonaws.com/swu-filepicker/hR33ye5FQXuDDarXCGIW_social_10.gif" alt="rss" /></a>
                    </td>
                  </tr>
                </table>
              </center>
              <!--[if gte mso 9]>
              </v:textbox>
            </v:rect>
            <![endif]-->
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7;" class="content-padding">
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320">
          <tr>
            <td class="header-lg">
              <%= message.subject %>
            </td>
          </tr>
          <tr>
            <td class="free-text">
              You're all signed up!<br>Login and make your picks for <strong><%= @nextevent.title %></strong>!
            </td>
          </tr>
          <tr>
            <td class="button">
              <div><!--[if mso]>
                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:155px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                  <w:anchorlock/>
                  <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                </v:roundrect>
              <![endif]--><a class="button-mobile" href="http://fantasy.cageagainst.com"
              style="background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;">Login and Play!</a></div>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" width="100%" style="background-color: #ffffff;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">
      <center>
        <table cellpadding="0" cellspacing="0" width="600" class="w320">
          <tr>
            <td class="content-padding">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td class="header-md">
                    Welcome to the Game!
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 70px;">
              <table  cellpadding="0" cellspacing="0" width="100%" class="w320 cage-note">
                <tr>
                  <td><%= @user.first_name.capitalize %>,</td>
                </tr>
                <tr>
                  <td>Congratulations! You have successfully signed up for Cage Machine. I am excited for you to be a part of the community and look forward to all the awesome experiences you will have. To complete your signup, you need to make picks for the <%= @nextevent.title %> event.</td>
                </tr>
                <tr>
                  <td><a href="https://cryptic-thicket-3219.herokuapp.com/rules">Rules</a></td>
                </tr>
                <tr>
                  <td>Having trouble making your picks? I want to help! Take a look at our support section  where you can find answers to common problems during the gameplay and submit help requests.</td>
                </tr>
                <tr>
                  <td>How To Make Picks Video.</td>
                </tr>
                <tr>
                  <td>Your friend the Cage Machine.</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="text-align: center;">
            <td style="text-align: center; padding-bottom: 50px; border-bottom: solid thin #C7C7C7;" class="header-md">
              Other ways to engage!
            </td>
          </tr>

          <tr>
            <td style="padding: 40px 0px 75px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate !important;">
                <tr>
                 <td class="info-block">
                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate !important;">
                      <tr>
                        <td class="block-rounded">
                          <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td class="info-img">
                                <a target="_blank" href="http://cageagainst.com"><img class="info-img" src="http://d12gou1j9dtpxz.cloudfront.net/images/cage-website-thumb.png" alt="website image" /></a>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding: 15px;">
                                <div><!--[if mso]>
                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:228px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                                    <w:anchorlock/>
                                    <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                                  </v:roundrect>
                                <![endif]--><a target="_blank" class="button-width" href="http://cageagainst.com"
                                style="background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none; -webkit-text-size-adjust:none;mso-hide:all;">Visit Website!</a></div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="info-block">
                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate !important;">
                      <tr>
                        <td class="block-rounded">
                          <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td class="info-img">
                                <a target="_blank" href="http://soundcloud.com/cage-against-the-machine"><img width="258" height="210" class="info-img" src="http://d12gou1j9dtpxz.cloudfront.net/images/podcast-thumb.png" alt="img" /></a>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding: 15px;">
                                <div><!--[if mso]>
                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:228px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                                    <w:anchorlock/>
                                    <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                                  </v:roundrect>
                                <![endif]--><a target="_blank" class="button-width" href="http://soundcloud.com/cage-against-the-machine"
                                style="background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;mso-hide:all;">Listen to Podcast!</a></div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7; height: 100px;">
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320">
          <tr>
            <td style="padding: 25px 0 25px">
              Make Picks | Make Challenges | Awards Gifted<br>
This is a message from the <strong>Cage Machine:</strong><br>
101 Broadway Oakland, CA 94607<br>

This is an automated message from the Cage Machine; please do not reply to this message<br>
<a href="https://cryptic-thicket-3219.herokuapp.com/terms">Privacy</a> and <a href="mailto:ja.shia@gmail.com?Subject=Unsubscribe%20Please&Body=Please%20Unsubscribe.%20Thank%20you.%20">Unsubscribe</a> Policy<br>
© 2016. All rights reserved.<br>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>