<% unless request.original_url == root_url %>
<div class="row" id="back-to-profile">
  <div class="col-xs-12">
    <div id="back-to-profile-link">
      <%= link_to "<-- Back to Profile", root_url %>
    </div>
  </div>
</div> 
<% end %>
