<!-- Challenge Slider -->
<!--
<div class="row events-view">
<ul class="nav nav-pills nav-justified head-challenge-tabs">
  <li><a data-toggle="pill" href="#previous-tab">Previous</a></li>
  <li class="active"><a data-toggle="pill" href="#current-tab">Current</a></li>
  <li><a data-toggle="pill" href="#upcoming-tab">UpComing</a></li>
</ul>
</div>
-->
<!--
<div class="tab-content">
  -->
  <!-- start the previous tab -->
    <%# render "shared/challenge_tabs/previous_games" %>   
  <!-- end the previous tab -->
  <!-- start the Current Tab -->
  <%= render "shared/challenge_tabs/current_game" %>
  <!-- ends the current Tab -->
  <!-- start the Upcoming events -->
  
    <%# render "shared/challenge_tabs/upcoming_games" %>  

  <!-- ends the UpComing events -->

<!--
</div> 
-->
<!-- ends the tabbed content -->
