<!-- events slider --> 
<div id="picks-header">
	<h1>Games</h1>
</div>
<div id="events-slider" class="carousel" data-interval="false">
  <% if @events.offset(1) != [] %>
   		<div class="row slide-control">
			<a class="left carousel-control" href="#events-slider" role="button" data-slide="prev"><span class="fa fa-angle-left"></span></a>
  			<a class="right carousel-control" href="#events-slider" role="button" data-slide="next">
  				<span class="fa fa-angle-right"></span>
  			</a>
  		</div>
  <% end %>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
	<% @events.find do |event| %>
    	<div class="item active">
			<div class="row events-header">
				<div class="col-sm-8">
					<div class="col-md-7">
						<%= image_tag event.fighter_1.image, class: "event-fighter-image" %>
						VS
						<%= image_tag event.fighter_2.image, class: "event-fighter-image" %>
					</div>
					<div class="col-md-5">
						<p class="event-info"><%= event.title %><br>
						<%= event.start_time.strftime("%A, %B %d, %Y") %><br>
						<%= event.start_time.strftime("%I:%M %p") %> PST<br>
						Score: <%= event.score(@user) %></p>
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<% if @user == current_user %> 
							<% if event.games.where(user_id: @user.id) != [] %> 
								<% if event.games.where(user_id: @user.id).last.lock? %> 
									<div class="locked-game">
										<%= link_to "Show Picks", game_path(event.games.where(user_id: @user.id).last), class: "btn btn-primary btn-responsive pull-right", onclick: "userClicksShowGame();" %><br>
										<p class="text-right">
											<i class="fa fa-lock text-right"></i>
										</p>
									</div>
								<% else %>
									<%= form_for event.games.where(user_id: @user.id).last, { data: { confirm: "Are you sure?"}, html: { id: "submit-picks-button" } } do |f| %>
											<%= f.hidden_field :lock, :value => true %> 
											<%= f.submit "Submit Picks", class: "btn btn-danger btn-responsive pull-right", title: "Submit your picks to see other player submitted picks.", onclick: "userSubmitsPicks();" %> 
									<% end %> 
									<%= link_to "Change Picks", edit_game_path(event.games.where(user_id: @user.id).last), class: "btn btn-warning btn-responsive pull-right", title: "Change your picks before the event locks. Picks cannot be changed once submitted." %>
									<%= link_to "Show Picks", game_path(event.games.where(user_id: @user.id).last), class: "btn btn-primary btn-responsive pull-right", onclick: "userWillSubmitPicksForPoints();"  %><br>
								<% end %> 
							<% else %> 
								<%= link_to "Make Picks", new_game_path(event_id: event.id), class: "btn btn-success btn-responsive pull-right", title: "Get in on the action. Click to play." %> <br> 
							<% end %> 
					<% end %> 
				</div>
			</div>
			<div class="clearfix"></div>

			<!-- Mobile Table --> 
			<div class="table-responsive leaderboard visible-xs-block">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Fights, Picks, Challenges, and Points</th>
				</tr>
			</thead>
			<tbody>
			<% unless event.games.where(user_id: @user.id) == [] || event.games.where(user_id: current_user.id) == [] %>
				<% if ( event.games.find_by(user_id: @user.id).lock? && event.games.find_by(user_id: current_user.id).lock? ) || @user == current_user %>
				<% event.fights.order(order: :desc).each do |fight| %>
					<tr>
						<th class="fight-bout">
							<%= fight.bout_type %><% if fight.championship_bout? %> | Championship | 5x <% end %><br>
							<%= fight.bout %></th>
					</tr>
					<% fight.picks.where(user_id: @user.id).each do |pick| %> 
						<tr>
							<td class="fight-pick<%= pick.score_color %>"> 
								<% if pick.winner == nil %>
									Please pick a winner.
								<% else %> 
									<strong>Your Pick:</strong><br>
									<%= pick.in_plain_english %>
									<% unless pick.method == nil %> 
										via <%= pick.method %>
										<% unless pick.method == "DECISION" %>
											in Round <%= pick.round %>
										<% end %> 
									<% end %>
								<% end %><br> 	 
								Pick Score: <% unless pick.fight.winner == "" || pick.fight.winner == nil %><%= pick.score %><% else %> No Results Yet.<% end %>
							</td>
						</tr>					 
				    <% end %>
				    <tr>
				    	<th>Your Challenges</th>
				    </tr>
				    <% fight.challenges.where("challenger_id = :challenger_id OR challenged_id = :challenged_id", {challenger_id: @user, challenged_id: @user} ).each do |challenge| %>
				    	<tr>
				    		<td>
				    			<%= challenge.challenger.username %> has challenged <%= challenge.challenged.username %>
				    			<br>
								<% if challenge.stage == "Challenge issued" && challenge.challenger == current_user %>
				    				<%= challenge.stage %>
				    			<% elsif challenge.stage == "Challenge issued" && challenge.challenged == current_user %>
		                            <%= button_to "Double Down", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: challenge.challenger.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Double Down Issued"} ), method: :put, class: "btn-sm btn-warning btn-responsive", data: { confirm: 'Double down cost 20 coins. Are you sure you want to double down this challenge?' } %> 
		                            <%= button_to "Accept", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: challenge.challenger.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Challenges cost 10 coins. Are you sure you want to accept this challenge?' } %> 
		                           <%= button_to "Tapout?", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: challenge.challenger.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this challenge?' } %>
				    			<% elsif challenge.stage == "Challenge Accepted" || challenge.stage == "Challenge Rejected" || challenge.stage == "Double Down Accepted" || challenge.stage == "Double Down Rejected" %> 
				    				<%= challenge.stage %>
				    			<% elsif challenge.stage == "Double Down Issued" && challenge.challenger == current_user %>
	                              <%= button_to "Double Down Accept?", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: current_user.id, challenged_id: challenge.challenged.id).take, :challenge => {  :stage => "Double Down Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Double down accept cost 10 more coins. Are you sure you want to accept this double down?' } %> 
	                              <%= button_to "Double Down Rejected?", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: current_user.id, challenged_id: challenge.challenged.id).take, :challenge => {  :stage => "Double Down Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this double down?' } %>
	                            <% elsif challenge.stage == "Double Down Issued" && challenge.challenged == current_user %> 
	                            	<%= challenge.stage %>
				    			<% end %>
				    		</td>
				    	</tr>
				    <% end %>
				<% end %>
			<% else %>
				<p class="text-center no-picks-made">Picks not locked.</p>
			<% end %>
			<% else %>
				<p class="text-center no-picks-made"><% if @user == current_user %> You ("<%= @user.username %>") have no picks for this event. You should click MAKE PICKS to play.<% else %> They ("<%= @user.username %>") have no picks for this event.<% end %></p>
			<% end %> 
			</tbody>
			</table>
			</div>

			<!-- Desktop Table --> 
			<div class="table-responsive leaderboard hidden-xs">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Fights, Picks, and Challenges</th>
					<th>Game Points</th>
				</tr>
			</thead>
			<tbody>
			<% unless event.games.where(user_id: @user.id) == [] || event.games.where(user_id: current_user.id) == [] %>
				<% if ( event.games.find_by(user_id: @user.id).lock? && event.games.find_by(user_id: current_user.id).lock? ) || @user == current_user %>
				<% event.fights.order(order: :desc).each do |fight| %>
					<tr>
						<th class="fight-bout"><%= fight.bout_type %><% if fight.championship_bout? %> | Championship | 5x <% end %> | <%= fight.bout %></th>
						<th  class="fight-bout">Points</th>
					</tr>
					<% fight.picks.where(user_id: @user.id).each do |pick| %> 
						<tr>
							<td class="fight-pick<%= pick.score_color %>"> 
								<% if pick.winner == nil %>
									Please pick a winner.
								<% else %> 
									<%= pick.in_plain_english %>
									<% unless pick.method == nil %> 
										via <%= pick.method %>
										<% unless pick.method == "DECISION" %>
											in Round <%= pick.round %>
										<% end %> 
									<% end %>
								<% end %> 	 
							</td>
							<td class="fight-pick<%= pick.score_color %>"><% unless pick.fight.winner == "" || pick.fight.winner == nil %><%= pick.score %><% else %> No Results Yet.<% end %></td>
						</tr>					 
				    <% end %>
				    <tr>
				    	<th colspan="2">Challenges</th>
				    </tr>
				    <% fight.challenges.where("challenger_id = :challenger_id OR challenged_id = :challenged_id", {challenger_id: @user, challenged_id: @user} ).each do |challenge| %>
				    	<tr>
				    		<td>
				    			<%= challenge.challenger.username %> has challenged <%= challenge.challenged.username %>
				    		</td>
				    		<td><% if challenge.stage == "Challenge issued" && challenge.challenger == current_user %>
				    				<%= challenge.stage %>
				    			<% elsif challenge.stage == "Challenge issued" && challenge.challenged == current_user %>
		                            <%= button_to "Double Down", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: challenge.challenger.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Double Down Issued"} ), method: :put, class: "btn-sm btn-warning btn-responsive", data: { confirm: 'Double down cost 20 coins. Are you sure you want to double down this challenge?' } %> 
		                            <%= button_to "Accept", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: challenge.challenger.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Challenges cost 10 coins. Are you sure you want to accept this challenge?' } %> 
		                           <%= button_to "Tapout?", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: challenge.challenger.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this challenge?' } %>
				    			<% elsif challenge.stage == "Challenge Accepted" || challenge.stage == "Challenge Rejected" || challenge.stage == "Double Down Accepted" || challenge.stage == "Double Down Rejected" %> 
				    				<%= challenge.stage %>
				    			<% elsif challenge.stage == "Double Down Issued" && challenge.challenger == current_user %>
	                              <%= button_to "Double Down Accept?", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: current_user.id, challenged_id: challenge.challenged.id).take, :challenge => {  :stage => "Double Down Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Double down accept cost 10 more coins. Are you sure you want to accept this double down?' } %> 
	                              <%= button_to "Double Down Rejected?", challenge_path(Challenge.where(fight_id: fight.id, challenger_id: current_user.id, challenged_id: challenge.challenged.id).take, :challenge => {  :stage => "Double Down Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this double down?' } %>
	                            <% elsif challenge.stage == "Double Down Issued" && challenge.challenged == current_user %> 
	                            	<%= challenge.stage %>
				    			<% end %>
				    		</td>
				    	</tr>
				    <% end %>
				<% end %>
			<% else %>
				<p class="text-center no-picks-made">Picks not locked.</p>
			<% end %>
			<% else %>
				<p class="text-center no-picks-made"><% if @user == current_user %> You ("<%= @user.username %>") have no picks for this event. You should click MAKE PICKS to play.<% else %> They ("<%= @user.username %>") have no picks for this event.<% end %></p>
			<% end %> 
			</tbody>
			</table>
			</div>


		</div>
	<% end %>
	<% @events.offset(1).each do |event| %>
		<div class="item">
			<div class="row events-header">
				<div class="col-xs-8">
					<p class="event-info"><%= event.title %><br>
					<%= event.start_time.strftime("%A, %B %d, %Y") %><br>
					<%= event.start_time.strftime("%I:%M %p") %> PST<br>
					Score: <%= event.score(@user) %></p>
				</div>
				<div class="col-xs-4 text-center">
					<% if @user == current_user %> 
							<% if event.games.where(user_id: @user.id) != [] %> 
								<% if event.games.where(user_id: @user.id).last.lock? %> 
									<div class="locked-game">
										<%= link_to "Show Picks", game_path(event.games.where(user_id: @user.id).last), class: "btn btn-primary btn-responsive pull-right", onclick: "userClicksShowGame();" %><br>
										<p class="text-right">
											<i class="fa fa-lock text-right"></i>
										</p>
									</div>
								<% else %>
									<%= form_for event.games.where(user_id: @user.id).last, { data: { confirm: "Are you sure?"}, html: { id: "submit-picks-button" } } do |f| %>
											<%= f.hidden_field :lock, :value => true %> 
											<%= f.submit "Submit Picks", class: "btn btn-danger btn-responsive pull-right", title: "Submit your picks to see other player submitted picks.", onclick: "userSubmitsPicks();" %> 
									<% end %> 
									<%= link_to "Change Picks", edit_game_path(event.games.where(user_id: @user.id).last), class: "btn btn-warning btn-responsive pull-right", title: "Change your picks before the event locks. Picks cannot be changed once submitted." %>
									<%= link_to "Show Picks", game_path(event.games.where(user_id: @user.id).last), class: "btn btn-primary btn-responsive pull-right", onclick: "userWillSubmitPicksForPoints();"  %><br>
								<% end %> 
							<% else %> 
								<%= link_to "Make Picks", new_game_path(event_id: event.id), class: "btn btn-success btn-responsive pull-right", title: "Get in on the action. Click to play." %> <br> 
							<% end %> 
					<% end %> 
				</div>
			</div>
			<div class="clearfix"></div>
				<div class="table-responsive leaderboard">
				<table class="table table-hover">
				<thead>
					<tr>
						<th>My Picks</th>
						<th>Game Points</th>
					</tr>
				</thead>
			<tbody>
			<% unless event.games.where(user_id: @user.id) == [] %>
			<% event.fights.order(order: :desc).each do |fight| %>
				<% fight.picks.where(user_id: @user.id).each do |pick| %> 
					<tr>
						<td><%= pick.in_plain_english %> via <%= pick.method %>
							<% unless pick.method == "DECISION" %>
							in Round <%= pick.round %>
							<% end %>
						</td>
						<td><% if pick.fight.winner != "" %><%= pick.score %><% else %> 0 <% end %></td>
					</tr>					 
			    <% end %>
			<% end %>
			<% else %>
				<p class="text-center no-picks-made"><% if @user == current_user %> You ("<%= @user.username %>") have no picks for this event. You should click MAKE PICKS to play.<% else %> They ("<%= @user.username %>") have no picks for this event.<% end %></p>
			<% end %> 
			</tbody>
			</table>
		</div>
	  </div>
	<% end %> 

  <!-- Controls -->

</div>
</div>
<!-- end events slider -->