<% if event.games.where(user_id: @user.id) == [] %> 
	<%= link_to "new game", new_game_path(event_id: event.id), class: "btn btn-primary" %> <br>
<% else %>
	<%= link_to "edit game", edit_game_path(event.games.where(user_id: @user.id).last), class: "btn btn-primary" %> <br>    
<% end %>