<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-12 leagues-header">
			<h1 class="title">Leagues</h1>
			<i type="button" class="fa fa-info-circle tips" data-toggle="tooltip" data-placement="bottom" title="Join a league and challenge friends."></i>
			<%= link_to "Find League", leagues_path, :class => "btn btn-primary btn-responsive pull-right", title: "Find your tribe. Click here to find a league, or create your own.", onclick: "userVisitsLeagues();" %></div>
	</div>
</div>
<% if @user.leagues == [] %>
	<div class="no-leagues">
		<p>You are not currently in a league. <br>
		Join a league to: </p>
		<ul>
			<li>Challenge friends</li> 
			<li>Draft Fighters and build a team. <em>(Coming Soon!)</em></li>
			<li>Earn more points.</li>
			<li>Earn more coins.</li>
		</ul>
		<p>Best of all, <em>It's free.</em><i class="fa fa-smile-o"></i><br>
		- The Cage Machine</p>
	</div>
<% else %>
<div id="leagues-slider" class="carousel" data-ride="carousel" data-interval="false">
<% if @user.leagues.offset(1) != [] %>
  		<div class="row slide-control">
  				<a class="left carousel-control" href="#leagues-slider" role="button" data-slide="prev"><span class="fa fa-angle-left"></span></a>
  				<a class="right carousel-control" href="#leagues-slider" role="button" data-slide="next">
  					<span class="fa fa-angle-right"></span>
  				</a>
  		</div>

  <% end %>
		<div class="carousel-inner" role="listbox">
		<% @user.leagues.each_with_index do |league, index| %>
		<% if index == 0 %>
			<div class="item active"><!-- first league -->
		<% else %> 
			<div class="item"><!-- other leagues --> 
		<% end %> 
			<div class="row league-header">
				<div class="col-sm-6">
				<%= image_tag league.flare.image, class: "profile-pic" %>
				<%= link_to("League Name: #{league.name}", league_path(league.id)) %>
					<p>	<%= league.kind %>: <%= league.season_name %> <br>
						Start: <%= league.season_start %> <br>
						Finish: <%= league.season_end %></p>
				</div>
				<div class="col-sm-6">
					<div id="league-action-1" class="action-area hidden-xs">
					<%= link_to 'Visit League', league_path(league), class: "btn btn-primary btn-responsive pull-right", title: "Visit this league. Challenge other league members. Draft Fighters (coming soon).", onclick: "userVisitsLeague();"  %> 
					<%= link_to 'Draft Fighters', new_roster_path(league_id: league.id, membership_id: league.memberships.find_by(user_id: current_user.id)), class: "btn btn-success disabled btn-responsive pull-right", alert: "Draft Feature coming soon!", title: 'Draft Feature coming soon!'%> <br>
					</div>
					<div id="league-action-2" class="action-area visible-xs-inline pull-right">
					<%= link_to 'Draft Fighters', new_roster_path(league_id: league.id, membership_id: league.memberships.find_by(user_id: current_user.id)), class: "btn btn-success disabled btn-responsive", alert: "Draft Feature coming soon!", title: 'Draft Feature coming soon!'%>
					<%= link_to 'Visit League', league_path(league), class: "btn btn-primary btn-responsive", title: "Visit this league. Challenge other league members. Draft Fighters (coming soon).", onclick: "userVisitsLeague();"  %> 
					</div>
				</div>
			</div>
			<div class="row league-leaders">
			<div class="col-sm-12">
				<div class="col-sm-6">
				<% 	@leaderboard = league.memberships.sort_by(&:season_points_sort).reverse[0..5]
					@leaderboard[0...3].each.with_index do |member, index| %>
						<% if index == 0 %>		
							<div class="league-leader">
								<div class="rank">
									<i class="fa fa-trophy" data-toggle="tooltip" data-placement="right" title="<%= member.points_till_champion(current_user, league) %>" onclick="userClicksTrophy();"></i>
								</div>
								<div class="league-leader-flare">
									<% unless member.user.fighter == nil %>
										<%= image_tag member.user.fighter.image, class: "img-league-member hidden-xs" %>
									<% else %> 
										<%= image_tag "placeholder.png", class: "img-league-member hidden-xs" %>
									<% end %>
								</div>
								<div class="league-leader-name"><%= link_to member.user.username, user_path(member.user.id), onclick: "userWantsToBeChampAndVisitsChamp();" %></div>
								<div class="league-leader-season-points"><%= member.season_points(member) %></div>
								<div class="clearfix"></div>
							</div>
						<% else %> 
							<div class="league-leader">
								<div class="rank"><%= index %></div>
								<div class="league-leader-flare">
									<% unless member.user.fighter == nil %>
										<%= image_tag member.user.fighter.image, class: "img-league-member hidden-xs" %>
									<% else %> 
										<%= image_tag "placeholder.png", class: "img-league-member hidden-xs" %>
									<% end %>
								</div>
								<div class="league-leader-name"><%= link_to member.user.username, user_path(member.user.id) %></div>
								<div class="league-leader-season-points"><%= member.season_points(member) %></div>
								<div class="clearfix"></div>
							</div>
						<% end %> 
					<% end %>
				</div>
				<div class="col-sm-6 second-tier-leaders">
				<% @leaderboard[3..5].to_a.each.with_index do |member, index| %>
				<div class="league-leader">
					<div class="rank"><%= index + 3 %></div>
					<div class="league-leader-flare">
						<% unless member.user.fighter == nil %>
							<%= image_tag member.user.fighter.image, class: "img-league-member hidden-xs" %>
						<% else %> 
							<%= image_tag "placeholder.png", class: "img-league-member hidden-xs" %>
						<% end %>
					</div>
					<div class="league-leader-name"><%= link_to member.user.username, user_path(member.user.id) %></div>
					<div class="league-leader-season-points"><%= member.season_points(member) %></div>
					<div class="clearfix"></div>
				</div>
				<% end %>
					
				</div>
			</div>
			</div>
			<div class="row" id="league-footer">
				<div class="col-xs-12">
					<%= link_to 'Visit League to see all Players and Make Challenges -->', league_path(league.id), class: "pull-right" %>

				</div>
			</div>
	
			</div><!-- end item/item active --> 
<% end %>
</div><!-- Carousel inner -->


</div><!-- end Leagues slider -->
<% end %> <!-- Ends the else statement on the if no leagues logic -->