<div class="col-xs-12 user-header">
	<div class="col-xs-4 col-sm-7">
		<% if current_user == @user %>
			<% unless @user.fighter == nil %>
				<%= link_to image_tag(@user.fighter.image, class: "profile-pic"), edit_user_registration_path, onclick: "userClicksUserSettings();" %> 
			<% else %>
				<%= link_to image_tag("placeholder.png", class: "profile-pic"), edit_user_registration_path, onclick: "userClicksUserSettings();" %>
			<% end %>
		<% else %>
			<% unless @user.fighter == nil %>
				<%= image_tag @user.fighter.image, class: "profile-pic" %> 
			<% else %>
				<%= image_tag "placeholder.png" %>
			<% end %>
		<% end %>

		<div class="hidden-xs" id="user-info">
			<p>Name: <%= @user.username %></p>
		</div>
	</div>
	<div class="col-xs-8 col-sm-5">
			<p class="visible-xs-block text-left">Name: <%= @user.username %></p>

		<% if @user == current_user %> 
				<%= link_to 'Edit Settings', edit_user_registration_path, class: "btn btn-default pull-right" , onclick: "userClicksUserSettings();" %><i type="button" class="fa fa-info-circle pull-right tips" data-toggle="tooltip" data-placement="bottom" title="Change your profile picture, password, and username."></i>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12" id="user-points">
	<div class="col-sm-3"> </div>
	<div class="col-sm-9 col-xs-12">
		<div class="col-xs-6 col-sm-4">
		<i type="button" class="fa fa-info-circle tips" data-toggle="tooltip" data-placement="bottom" title="Belt rank symbolizes your on the app rank"></i>
			<p><%= @user.user_level %>
			<br><small><%= @user.points %> Points</small><br>

			</p>
		</div>
		<div class="col-xs-6 col-sm-4">
		<i type="button" class="fa fa-info-circle tips" data-toggle="tooltip" data-placement="bottom" title="Cage Coins help you buy things. Challenge your friends with Cage Coins."></i>
			<p>Cage Coins <br>
				<small><%= @user.coins %> coins</small>
			</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<i type="button" class="fa fa-info-circle tips" data-toggle="tooltip" data-placement="bottom" title="Badges are cool."></i>
			<% unless @badges == [] %>  
				<% @badges.each do |badge| %>
					<% if badge[0] == "Champ" %>						
						<a href="/leagues/<%= badge[1].id %>" data-toggle="tooltip" data-placement="top" title="Champion of <%= badge[1].name %>">
							<i class="medals medals-the_crown"></i>
						</a>
					<% elsif badge[0] == "1st" %>
						<a href="/leagues/<%= badge[1].id %>" data-toggle="tooltip" data-placement="top" title="1st runner-up of <%= badge[1].name %>"><i class="medals medals-gold_medal"></i></a>
					<% elsif badge[0] == "2nd" %> 
						<a href="/leagues/<%= badge[1].id %>" data-toggle="tooltip" data-placement="top" title="2nd runner-up of <%= badge[1].name %>"><i class="medals medals-silver_medal"></i></a>
					<% elsif badge[0] == "3rd" %> 
						<a href="/leagues/<%= badge[1].id %>" data-toggle="tooltip" data-placement="top" title="3rd runner-up of <%= badge[1].name %>"><i class="medals medals-bronze_medal"></i></a>
					<% end %>
				<% end %>
			<% else %> 
				<p>No Badges</p>
			<% end %> 
		</div>
	</div>
</div>
