<div class="challenge-wrapper">
  <ul class="nav nav-pills" id="myTab">
    <% @event.fights.order(order: :desc).each_with_index do |fight, index| %>
      <% if index == 0 %> 
        <li data-target="#challenges-slider" data-slide-to="<%= index %>" class="active">
          <a href="#<%= fight.id %>">
            <%= fight.fighter_1.full_name %><br>
            <%= fight.fighter_2.full_name %>
          </a>
        </li>
      <% else %>
        <li data-target="#challenges-slider" data-slide-to="<%= index %>" >
          <a href="#<%= fight.id %>">
            <%= fight.fighter_1.full_name %><br>
            <%= fight.fighter_2.full_name %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

