<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :season %> <br>
    <%= f.collection_select(:season_id, Season.where("active = 't'"), :id, :name, prompt: "Select Season") %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :arena %><br>
    <%= f.text_field :arena %>
  </div>
  <div class="field">
    <%= f.label :pay_per_view %><br>
    <%= f.check_box :pay_per_view %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :fighter_1_id %><br>
    <%= f.number_field :fighter_1_id %>
  </div>
  <div class="field">
    <%= f.label :fighter_2_id %><br>
    <%= f.number_field :fighter_2_id %>
  </div>
  <div class="field">
    <%= f.label :podcast_url %><<br>
    <%= f.text_field :podcast_url %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :lock_event %><br>
    <%= f.check_box :lock %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
