<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
<div class="table-responsive leaderboard">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Arena</th>
      <th>Pay per view</th>
      <th>Active</th>
      <th>Start time</th>
      <th>Fighter 1</th>
      <th>Fighter 2</th>
      <th>Season title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.location %></td>
        <td><%= event.arena %></td>
        <td><%= event.pay_per_view %></td>
        <td><%= event.active %></td>
        <td><%= event.start_time %></td>
        <td><%= event.fighter_1.display_name %></td>
        <td><%= event.fighter_2.display_name %></td>
        <% if event.season != nil %>
          <td><%= event.season.name %></td>
        <% else %>
          <td>No Season</td> 
        <% end %>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Event', new_event_path %>
