<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Arena:</strong>
  <%= @event.arena %>
</p>

<p>
  <strong>Pay per view:</strong>
  <%= @event.pay_per_view %>
</p>

<p>
  <strong>Active:</strong>
  <%= @event.active %>
</p>
<p>
  <strong>Lock:</strong>
  <%= @event.lock %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Fighter 1:</strong>
  <%= @event.fighter_1 %>
</p>

<p>
  <strong>Fighter 2:</strong>
  <%= @event.fighter_2 %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
