<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if @game.user_id == nil %> 
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <% if @game.event_id == nil %>
    <%= f.hidden_field :event_id, :value => @event.id %>
  <% end %>

      


<div id="picks-content" class="row">

  <div id="picks" class="col-sm-8 carousel slide carousel-fade" data-interval="false">
   <div class="picks-controls">
     <a class="left btn btn-responsive btn-default picks-control" href="#picks" role="button" data-slide="prev"><span class="fa fa-angle-left"></span></a>
     <a class="right btn btn-responsive btn-default picks-control" href="#picks" role="button" data-slide="next"><span class="fa fa-angle-right"></span></a>
   </div>
      
    <%#= render 'slide_controls' %>
    <div class="carousel-inner" role="listbox">  
    <% @event.fights.where.not(lock: true).order(order: :desc).each do |fight| %>
        <% if fight == @event.fights.where.not(lock: true).order(order: :desc)[0] %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
        <div class="row pick">
          <p class="fight-title">
                    <%= fight.bout_type %><br>
                    <%= fight.bout %>
          </p>
        <%= f.fields_for :picks, fight.picks.find_or_initialize_by(fight_id: fight.id, game_id: @game) do |ff| %>

        
            <div class="col-xs-12 pick-fighters">
                  <div class="col-xs-6">
                     <div class="pick-fighter text-center">
                        <%= ff.radio_button :winner, fight.fighter_1.full_name %>
                          <%= ff.label(:winner, :value => fight.fighter_1.full_name) do 
                            image_tag fight.fighter_1.image, class: "img img-responsive"
                          end %>
                        <i type="button" class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="<%= fight.fighter_1_info %>" onclick="userWantsToKnowInfoAboutFighters();"></i>
                        <%= ff.label :winner, :value => fight.fighter_1.full_name %>
                        <% if fight.fighter_1_odds != nil %>
                          <% if fight.fighter_1_odds >= 0 %>
                              <br><strong class="text-warning">UNDERDOG</strong><br>+
                            <% else %> 
                              <br><strong class="text-success" onclick="userWantsToKnowOdds();">FAVORITE</strong><br>
                            <% end %>
                            <%= fight.fighter_1_odds %> 
                        <% end %>                     
                    </div>
                  </div>
                  <div class="col-xs-6">                      
                     <div class="pick-fighter text-center">
                        <%= ff.radio_button :winner, fight.fighter_2.full_name %>
                        <%= ff.label(:winner, :value => fight.fighter_2.full_name) do 
                          image_tag fight.fighter_2.image, class: "img img-responsive"
                        end %>
                        <i type="button" class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="<%= fight.fighter_2_info %>" onclick="userWantsToKnowInfoAboutFighters();"></i>
                        <%= ff.label :winner, :value => fight.fighter_2.full_name %>
                        <% if fight.fighter_2_odds != nil %>
                          <% if fight.fighter_2_odds >= 0 %>
                              <br><strong class="text-warning">UNDERDOG</strong><br>+
                            <% else %> 
                              <br><strong class="text-success" onclick="userWantsToKnowOdds();">FAVORITE</strong><br>
                            <% end %>
                            <%= fight.fighter_2_odds %> 
                        <% end %>                     
                    </div>
                  </div>
              </div>

        <div class="col-xs-12 pick-methods text-center">          
              <div class="col-sm-4">
                <%= ff.radio_button(:method, "DECISION", class: "method-decision") %>
                <%= ff.label :method_decision, "DECISION" %>
              </div>
              <div class="col-sm-4">
                <%= ff.radio_button(:method, "SUBMISSION", class: "method") %> 
                <%= ff.label :method_submission, "SUBMISSION" %>
              </div>
              <div class="col-sm-4">
                <%= ff.radio_button(:method, "KOTKO", class: "method") %> 
                <%= ff.label :method_kotko, "KO/TKO" %>
              </div>
          </div>
          <div class="col-xs-12 pick-rounds text-center">
            

            <% if fight.five_rounds? %>

              <div class="row five-rounds">
                <div class="col-sm-2 col-sm-offset-1">
                  <%= ff.radio_button(:round, "1", class: "rounds") %> 
                  <%= ff.label :round_1, style: "#{ff.object.decision_indicator}" %>
                </div>
                <div class="col-sm-2">
                  <%= ff.radio_button(:round, "2", class: "rounds") %> 
                  <%= ff.label :round_2, style: "#{ff.object.decision_indicator}"  %>
                </div>
                <div class="col-sm-2">
                  <%= ff.radio_button(:round, "3", class: "rounds") %> 
                  <%= ff.label :round_3, style: "#{ff.object.decision_indicator}"  %>
                </div>
                 <div class="col-sm-2">
                  <%= ff.radio_button(:round, "4", class: "rounds") %> 
                  <%= ff.label :round_4, style: "#{ff.object.decision_indicator}"  %>
                 </div>
                 <div class="col-sm-2">
                  <%= ff.radio_button(:round, "5", class: "rounds") %>
                  <%= ff.label :round_5, style: "#{ff.object.decision_indicator}"  %>
                 </div>
              </div>
            <% else %> 
              <div class="col-sm-4">
                <%= ff.radio_button(:round, "1", class: "rounds") %> 
                <%= ff.label :round_1, style: "#{ff.object.decision_indicator}"   %>
              </div>
              <div class="col-sm-4">
                <%= ff.radio_button(:round, "2", class: "rounds") %> 
                <%= ff.label :round_2, style: "#{ff.object.decision_indicator}"   %>
              </div>
              <div class="col-sm-4">
                <%= ff.radio_button(:round, "3", class: "rounds") %> 
                <%= ff.label :round_3, style: "#{ff.object.decision_indicator}"   %>
              </div>
            <% end %>

            </div>
        <%= ff.hidden_field :fight_id, :value => fight.id %>
        <%= ff.hidden_field :user_id, :value => current_user.id %>

        <% end %> 
        </div>
        </div>
    <% end %> 
    </div>
    </div> 
    <div id="picks-sidebar" class="col-sm-4 hidden-xs">
      <div id="picks-sidebar-content">
        <p>Make your picks</p>
        <ul class="">   
        <% @event.fights.where.not(lock: true).order(order: :desc).each_with_index do |fight, index| %>
          <% if index == 0 %> 
            <li data-target="#picks" data-slide-to="<%= index %>" class="active">
              <a href="#">
                <%= fight.fighter_1.last_name %> vs. <%= fight.fighter_2.last_name %>
              </a>
            </li>
          <% else %> 
            <li data-target="#picks" data-slide-to="<%= index %>">
              <a href="#"> <%= fight.fighter_1.last_name %> vs. <%= fight.fighter_2.last_name %>
              </a>
            </li>
          <% end %> 
        <% end %> 
        </ul>
        <p class="points">Total Possible Points: </p>
      </div>
    </div>
    </div>  
    <div class="pick-actions col-sm-8 actions text-center">
      <%# f.check_box :lock %>
      <%= f.submit "Save Picks", class: "btn btn-danger", onclick: "userSavesPicks();" %>      
    </div>
  <% end %>

