<div class="row picks-slide-control">
  <div class="col-xs-2">
    <a class="btn btn-info btn-responsive" href="#picks" role="button" data-slide="prev"><--</a>
  </div>
  <div class="col-xs-8">
    <h4 class="text-center">My Picks</h4>
  </div>
  <div class="col-xs-2">
    <a class="btn pull-right btn-info btn-responsive" href="#picks" role="button" data-slide="next">--></a>
  </div>
</div>
