<div class="row picks-header">
	<h1 class="text-center">Change your picks!</h1>
	<p class="text-center"><%= @game.event.title %> <br>
	<%= @game.event.start_time.strftime("%B %d, %Y") %></p>
</div>
<%= render 'form' %>
