<div class="white-back">
  <p id="notice"><%= notice %></p>
  
  <h1>Listing Games</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Event</th>
        <th>Game type</th>
        <th>Score</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.user.username %></td>
          <td><%= game.event.title %></td>
          <td><%= game.game_type %></td>
          <td><%= game.score %></td>
          <td><%= link_to 'Show', game %></td>
          <% if current_user.admin? || current_user == game.user %> 
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> 
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Game', new_game_path %>
</div>
