<div class="row picks-header">
	<h1 class="text-center">Make your picks!</h1>
	<p class="text-center"><%= @event.title %> <br>
	<%= @event.start_time.strftime("%B %d, %Y") %></p>
</div>
<%= render 'form' %>