<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% if @game.user_id == nil %> 
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% else %>
    <%= f.label @game.user.username %>
  <% end %>
  <% if @game.event_id == nil %>
    <%= f.hidden_field :event_id, :value => @event.id %>
  <% end %>

<div class="row picks-content">
  <div class="col-md-8">
    <% @event.fights.order(order: :desc).each do |fight| %> 
      <div class="col-xs-12 pick">
        <p class="text-center fight-title">
          <%= fight.bout_type %><br>
          <%= fight.bout %>
        </p>

        <%= f.fields_for :picks, fight.picks.find_or_initialize_by(fight_id: fight.id, game_id: @game) do |ff| %> 
        <%= ff.hidden_field :fight_id, :value => fight.id %>
        <%= ff.hidden_field :user_id, :value => current_user.id %>
        <div class="col-xs-12">
              <div class="funkyradio">
                <div class="col-xs-6">
                  <div class="funkyradio-success">
                    <%= ff.radio_button :winner, fight.fighter_1.full_name %>
                    <%= ff.label :winner, :value => fight.fighter_1.full_name %>
                  </div>
                   <%= ff.label :winner, :value => fight.fighter_1.full_name do
                    image_tag fight.fighter_1.image, class: "img img-responsive"
                    end %>
                    <div class="text-right">
                      <% if fight.fighter_1_odds != nil %>
                        <% if fight.fighter_1_odds >= 0 %>
                          <strong class="text-warning"> UNDERDOG</strong>
                          <% else %> 
                          <strong class="text-success">FAVORITE</strong> 
                          <% end %>
                          <%= fight.fighter_1_odds %> :Odds 
                      <% end %>
                    </div>
                </div>
                <div class="col-xs-6">
                  <div class="funkyradio-success">
                    <%= ff.radio_button :winner, fight.fighter_2.full_name %> 
                    <%= ff.label :winner, :value => fight.fighter_2.full_name %>
                  </div>
                    <%= ff.label(:winner, :value => fight.fighter_2.full_name) do 
                      image_tag fight.fighter_2.image, class: "img img-responsive"
                    end %>
                    <div>
                    <% if fight.fighter_2_odds != nil %>
                    Odds: <%= fight.fighter_2_odds %>
                    <% if fight.fighter_2_odds >= 0 %>
                    <strong class="text-warning"> UNDERDOG</strong>
                    <% end %>
                    <% end %>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-xs-12">
          
            <div class="funkyradio">
              <div class="col-sm-4 funkyradio-info">
                <%= ff.radio_button(:method, "DECISION", class: "method-decision") %>
                <%= ff.label :method_decision, "DECISION" %>
              </div>
              <div class="col-sm-4 funkyradio-info">
                <%= ff.radio_button(:method, "SUBMISSION", class: "method") %> 
                <%= ff.label :method_submission, "SUBMISSION" %>
              </div>
              <div class="col-sm-4 funkyradio-info">
                <%= ff.radio_button(:method, "KOTKO", class: "method") %> 
                <%= ff.label :method_kotko, "KO/TKO" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            
            <div class="funkyradio">
            <% if fight.five_rounds? %>
              <div class="col-md-2 col-md-offset-1 funkyradio-warning">
                <%= ff.radio_button(:round, "1", class: "rounds") %> 
                <%= ff.label :round_1 %>
              </div>
              <div class="col-md-2 funkyradio-warning">
                <%= ff.radio_button(:round, "2", class: "rounds") %> 
                <%= ff.label :round_2 %>
              </div>
              <div class="col-md-2 funkyradio-warning">
                <%= ff.radio_button(:round, "3", class: "rounds") %> 
                <%= ff.label :round_3 %>
              </div>
               <div class="col-md-2 funkyradio-warning">
                <%= ff.radio_button(:round, "4", class: "rounds") %> 
                <%= ff.label :round_4 %>
               </div>
               <div class="col-md-2 funkyradio-warning">
                <%= ff.radio_button(:round, "5", class: "rounds") %>
                <%= ff.label :round_5 %>
               </div>
            <% else %> 
              <div class="col-sm-4 funkyradio-warning">
                <%= ff.radio_button(:round, "1", class: "rounds") %> 
                <%= ff.label :round_1 %>
              </div>
              <div class="col-sm-4 funkyradio-warning">
                <%= ff.radio_button(:round, "2", class: "rounds") %> 
                <%= ff.label :round_2 %>
              </div>
              <div class="col-sm-4 funkyradio-warning">
                <%= ff.radio_button(:round, "3", class: "rounds") %> 
                <%= ff.label :round_3 %>
              </div>
            <% end %>
              </div>
            </div>
        <% end %> 
        </div>
    <% end %> 
    </div> 
    <div class="col-md-4 picks-sidebar">
      <p>Fights</p>
      <% @event.fights.each do |fight| %>
        <%= fight.fighter_1.last_name %> <br>
      <% end %> 
    </div>
    </div>  
    <div class="actions text-center">
      <%= f.submit "Submit Picks" %>
    </div>
  <% end %>
