<div class="row events-header">
	<div class="col-xs-8">
		<p class="event-info"><%= @game.event.title %><br>
		<%= @game.event.start_time.strftime("%A, %B %d, %Y") %><br>
		<%= @game.event.start_time.strftime("%I:%M %p") %> PST<br>
		Score: <%= @game.event.score(@game.user) %></p>
	</div>
	<div class="col-xs-4">
			<% if @game.user == current_user %>
				<% if @game.lock? %> 
					<p id="game-lock">Game Locked<i class="fa fa-lock"></i><br><small>Ready for challenges.</small></p>
				<% else %> 
					<% if @game.event.games.where(user_id: @game.user.id) != [] && @game.lock == true %>
						<%= link_to "Show Picks", game_path(@game.event.games.where(user_id: @game.user.id).last), class: "btn btn-disabled" %>
					<% else %>
						<%= form_for @game, { data: { confirm: "Are you sure?"}, html: { id: "submit-picks-button" } } do |f| %>
							<%= f.hidden_field :lock, :value => true %> 
							<%= f.submit "Submit Picks", class: "btn btn-danger pull-right", onclick: "userSubmitsPicks" %> 
						<% end %> 
						<%= link_to "Change Picks", edit_game_path(@game.event.games.where(user_id: @game.user.id).last), class: "btn btn-warning pull-right" %> 	  
					<% end %>
				<% end %> 		
			<% end %>
	</div>
</div>
<div class="table-responsive leaderboard row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>My Picks</th>
				<th colspan="2">Game Points</th>
			</tr>
		</thead>
		<tbody>
	
	<% @game.picks.each do |pick| %> 
	<tr class="fight-bout">
		<td><strong><%= pick.fight.bout %></strong></td>
		<td colspan="2"><strong>Score</strong></td>
	</tr>
	<tr class="fight-pick<%= pick.score_color %>">
		<td>Fight Pick: <%= pick.in_plain_english %> via <%= pick.method %>
			<% unless pick.method == "DECISION" %>
			in Round <%= pick.round %>
			<% end %>
		</td>
		<td colspan="3">
			<% unless pick.fight.winner == nil || pick.fight.winner == "" %>
				<%= pick.score %><small>pts</small>
			<% else %>
				No Results Yet.
			<% end %>
		</td>
	</tr>
		<% unless pick.fight.challenges.where("challenger_id = :challenger_id OR challenged_id = :challenged_id", {challenger_id: pick.user, challenged_id: pick.user} ) == [] %>
			<tr class="fight-pick-challenges">
				<th>Challenger</th>
				<th>Challenged</th>
				<th>Status</th>
			</tr>
			<% pick.fight.challenges.where("challenger_id = :challenger_id OR challenged_id = :challenged_id", {challenger_id: pick.user, challenged_id: pick.user} ).each do |challenge| %>
			<tr class="fight-pick-challenge<%= pick.score_color %>">
				<td><%= challenge.challenger.username %></td>
				<td><%= challenge.challenged.username %></td>
				<td><%= challenge.stage %></td>
			</tr>
			<% end %>
			<% else %>
				<tr>
					<td colspan="3" class="text-center">
						<strong>No Challenges for <%= pick.fight.bout %>. Visit a league to make some.</strong>
					</td>
				</tr>

		<% end %>
	<% end %>
	</tbody>
	</table>
</div>

