Welcome to a new league!

Hello,

You are receiving this message because <%= @invite.sender.full_name %> invited you to a new league called <%= @invite.league.name %>. I am the Cage Machine you know, and I will guide you through the process.

If you don't want to be a part of this league, click the link below and click "Leave this league" and I will remove you from the league.

<%= link_to "Visit League", ( root_path + "/leagues/" + "#{@invite.league.id}"), class:"button-mobile", style:"background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;" %>

I will see you in the octagon,

The Cage Machine