Welcome to the Cage Machine!

Hello,
You are receiving this email because you have been invited by a friend of yours that goes by the name (<%= @invite.sender.full_name %>) to play the online MMA Fantasy game, brought to you by Cage Against the Machine. If you have received this invitation as an error and would like to decline this invitation, then (Click here to unsubscribe), and we will be happy to remove you from our list.

If you would like to accept your invitation and get in on the action, then copy this link into a web browser:
<%= @token + "&email=" + @invite.email %>

We'd like to thank you in advance for signing up for the Cage Against the Machine fantasy MMA app. We have been working on this project for a little over a year now and are happy to make it public.

Sincerly,
Your friends at The Cage Team

