<p id="notice"><%= notice %></p>

<h1>Listing Picks</h1>

<table>
  <thead>
    <tr>
      <th>Fight</th>
      <th>User</th>
      <th>Winner</th>
      <th>Method</th>
      <th>Round</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @picks.each do |pick| %>
      <tr>
        <td><%= pick.fight %></td>
        <td><%= pick.user %></td>
        <td><%= pick.winner %></td>
        <td><%= pick.method %></td>
        <td><%= pick.round %></td>
        <td><%= link_to 'Show', pick %></td>
        <td><%= link_to 'Edit', edit_pick_path(pick) %></td>
        <td><%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pick', new_pick_path %>
