<p id="notice"><%= notice %></p>

<p>
  <strong>Fight:</strong>
  <%= @pick.fight %>
</p>

<p>
  <strong>User:</strong>
  <%= @pick.user %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @pick.winner %>
</p>

<p>
  <strong>Method:</strong>
  <%= @pick.method %>
</p>

<p>
  <strong>Round:</strong>
  <%= @pick.round %>
</p>

<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
