<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fight_id %><br>
    <%= f.text_field :fight_id %>
  </div>
  <div class="field">
    <%= f.label :stage %><br>
    <%= f.text_field :stage %>
  </div>
  <div class="field">
    <%= f.label :challenger_id %><br>
    <%= f.number_field :challenger_id %>
  </div>
  <div class="field">
    <%= f.label :challenged_id %><br>
    <%= f.number_field :challenged_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
