<p id="notice"><%= notice %></p>

<p>
  <strong>Fight:</strong>
  <%= @challenge.fight %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @challenge.stage %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @challenge.challenger_id %>
</p>

<p>
  <strong>Challenged:</strong>
  <%= @challenge.challenged_id %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
