Greetings Cage Cousins!

There is a new Fight Night game the cage machine. Come join in the fun!

The next event is <%= @event.title %>. Visit this URL:
http://cageagainst.com. 

The Fight night starts <%= @event.start_time.strftime("%A, %B %d, %Y") %> at <%= @event.start_time.strftime("%I:%M %p") %> PST. As always, we'll be closing the game about 30 minutes before the first prelim. Challenges will be available to everyone that submits there picks ahead of time. 
