<%= form_for(@fight) do |f| %>
  <% if @fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% @fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.collection_select(:event_id, Event.where("active = 't'"), :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :fighter_1_id %><br>
    <%= f.collection_select(:fighter_1_id, Fighter.all, :id, :display_name, prompt: "Select Fighter") %>
  </div>
  <div class="field">
    <%= f.label :fighter_1_odds %><br>
    <%= f.number_field :fighter_1_odds %>
  </div>
  <div class="field">
    <%= f.label :fighter_2_id %><br>
    <%= f.collection_select(:fighter_2_id, Fighter.all, :id, :display_name, prompt: "Select Fighter") %>
  </div>
  <div class="field">
    <%= f.label :fighter_2_odds %><br>
    <%= f.number_field :fighter_2_odds %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :bout_type %><br>
    <%= f.select(:bout_type, [['Main Event', 'Main Event'], ['Co-Main Event', 'Co-Main Event'], ['Main Card', 'Main Card'], ['Prelim', 'Prelim']], prompt: "Select Bout Type") %>
  </div>
  <div class="field">
    <%= f.label :five_rounds %><br>
    <%= f.check_box :five_rounds %>
  </div>
  <div class="field">
    <%= f.label :championship_bout %><br>
    <%= f.check_box :championship_bout %>
  </div>
  <div class="field">
    <%= f.label :lock %>
    <%= f.check_box :lock %>
  </div>
  <% unless @fight.id == nil %> 
    <div class="field">
      <%= f.label :winner %><br>
      <%= f.collection_select :winner, @fight.fighters, :display_name, :display_name, prompt: "Select a fighter" %>
    </div>
    <div class="field">
      <%= f.label :method %><br>
      <%= f.select(:method, [['DECISION', 'DECISION'], ['SUBMISSION', 'SUBMISSION'], ['KOTKO', 'KOTKO']], prompt: "Select the Method") %>
    </div>
    <div class="field">
      <%= f.label :round %><br>
      <%= f.number_field :round %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
