<div class="white-back">
  <p id="notice"><%= notice %></p>
  
  <h1>Listing Fights</h1>
  
  <div class="table-responsive leaderboard">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event</th>
          <th>Fighter 1</th>
          <th>Fighter 1 odds</th>
          <th>Fighter 2</th>
          <th>Fighter 2 odds</th>
          <th>Order</th>
          <th>Bout type</th>
          <th>Five rounds</th>
          <th>Championship bout</th>
          <th>Winner</th>
          <th>Method</th>
          <th>Round</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @fights.order(order: :desc).each do |fight| %>
          <tr>
            <td><%= fight.event.title %></td>
            <td><%= fight.fighter_1.full_name %></td>
            <td><%= fight.fighter_1_odds %></td>
            <td><%= fight.fighter_2.full_name %></td>
            <td><%= fight.fighter_2_odds %></td>
            <td><%= fight.order %></td>
            <td><%= fight.bout_type %></td>
            <td><%= fight.five_rounds %></td>
            <td><%= fight.championship_bout %></td>
            <td><%= fight.winner %></td>
            <td><%= fight.method %></td>
            <td><%= fight.round %></td>
            <td><%= link_to 'Show', fight %></td>
            <td><%= link_to 'Edit', edit_fight_path(fight) %></td>
            <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <br>
  
  <%= link_to 'New Fight', new_fight_path %>
</div>
