<p>
  <strong>Event:</strong>
  <%= @fight.event.title %>
</p>

<p>
  <strong>Fighter 1:</strong>
  <%= @fight.fighter_1.display_name %>
</p>

<p>
  <strong>Fighter 1 odds:</strong>
  <%= @fight.fighter_1_odds %>
</p>

<p>
  <strong>Fighter 2:</strong>
  <%= @fight.fighter_2.display_name %>
</p>

<p>
  <strong>Fighter 2 odds:</strong>
  <%= @fight.fighter_2_odds %>
</p>

<p>
  <strong>Order:</strong>
  <%= @fight.order %>
</p>

<p>
  <strong>Bout type:</strong>
  <%= @fight.bout_type %>
</p>

<p>
  <strong>Five rounds:</strong>
  <%= @fight.five_rounds %>
</p>

<p>
  <strong>Championship bout:</strong>
  <%= @fight.championship_bout %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @fight.winner %>
</p>

<p>
  <strong>Method:</strong>
  <%= @fight.method %>
</p>

<p>
  <strong>Round:</strong>
  <%= @fight.round %>
</p>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %> | 
<%= link_to 'New Fight', new_fight_path %>

