/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "custom";
@import "header";
@import "landing";
@import "profile";
@import "toast";
@import "game";
@import "footer";
@import "sign_up";
@import "font-awesome";
@import "league";
@import "leagues";
@import "picks";
@import "challenge_slider";
@import "terms";
@import "featherlight";
@import "static_pages";
@import "spritesheet";
@import "rosters";

body {
  /* keep uncommented while completing function */
  background-image: url(octagon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

#app-wrap {
	background-color: rgba(0, 0, 0, 0.62);
	padding-bottom: 50px;
	margin-top: 30px;
}

.alert-back {
	background-color: white;
}

.white-back {
  background-color: white;
}