
.challenge-wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	  padding:5px;
  	height:60px;
    background-color: #F8F8FF;
    border-bottom: thin solid gray;

    .nav-pills {
      li {
        a {
          border-radius: 5px;
          border: thin solid #B7B7B7;
        }
      }
    }
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
    
    li {
      display:table-cell;
      position:relative;
      text-align:center;
      cursor:grab;
      cursor:-webkit-grab;
      color:#efefef;
      vertical-align:middle;
    }

}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

form.button_to {
  
  input.btn-sm {
    margin-left: 5px;

  }
}
