#footer {
	position: fixed;
	bottom: 0;
	background-color: #f8f8f8;
    border-color: #e7e7e7;
    left:0px;
    height:60px;
    width:100%;
}

#footer .text-center {
	margin-top: 10px;
    font-size: small;
}