.fight-bout {
	background-color: #FFF6E6;
	border-top: 10px solid rgba(95,59,59,0.45);
}

.fight-pick-challenges { 
	border-bottom: thin solid black;
}

.fight-pick, .fight-pick-challenge {

	&-correct {
		background-color: #B3FFB3;
	}

	&-incorrect {
		background-color: #FFB3B3;
	}
}

#submit-picks-button {
	display: inline;
}

#game-lock {
	font-size: 1.5em;

	i {
		margin-left: 10px;
	}
}