nav .navbar, .navbar-default {
    border-radius: 0px;
}

#remember-me-label {
	display: inline;
	margin-right: 12%;
	@media (min-width: 768px) {
		margin-right: 68px;
	}
}

#logo {
	margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 6px;
    img {
	    display: inline;
	    margin-top: 5px;
	}

	button.navbar-toggle {
		margin-top: 0px;
	}
}

.btn-login {
	@media (max-width: 767px) {
		margin-top: 10px;
		width: 100%;
	}
}

.cage {
	padding: 15px 0px;
}

.cage-header-info {
	p {
		margin: 0px;
	}
	
	@media (max-width: $screen-xs-max) {
		padding-top: 10px;
    	padding-bottom: 10px;
		
		p {
			max-width: 125px;
		}
	}
}

