/* landing page styles */
#welcome {
	/* background-color: rgba(0, 0, 0, 0.38); */
	padding: 20px;
    margin-top: 40px;
    p.white-text {
    	color: white;
    }

	.jumbotron {
		background-color: rgba(0, 0, 0, 0);
		color: white;
	}


}
#podcast-link {
	background-color: #151515;
    color: #D0B2B2;
    padding: 10px;
    margin-bottom: 78px;
}