#league-header {
	background-color: #333333;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 60px;
	
	span.league-title {
		color: #FAEBD7;
	}

	img {
		margin-right: 15px;
	}
	.league-profile-pic {
		float: left;
		width: 120px;
	}
}

.sub-header {
	margin-top: 10px;
	font-size: 1.3em;
    color: #F0FFF0;
}
span.sub-header {
	float: left;
	margin-right: 33%;
}
/* League Page */
#league-leaderboard {

	#players {
		background-color: white;

		.player {
			border-bottom: thin solid #A9A9A9;
			vertical-align: center;
		    cursor: pointer;

		    &:hover {
		    	background-color:#FFFCEB;

		    }


			i {
				font-size: 26px;
			    color: #B98B17;

			    &:hover {
				    color: white;
				    background-color: #B98B17;
				    margin-top: 0px;
			    }
			}

			small {
			    margin-right: 17px;
			    margin-top: 10px;			
			}
			span.points {
				margin-top: 8px;
			}

		}

		@media (max-width: 767px) {
			a {
				margin-left: 10px;
			}

		}

		.player:nth-child(even) {
			border-right: thin solid #A9A9A9;

			@media (max-width: 767px) {
				border-right: none;
			}
		}
	}

	.title {
		font-size: 1.2em;
	    font-weight: 300;
	    margin-top: 10px;
	    border-bottom: thin solid #CCCCCC;
	    padding-bottom: 10px;
	}
	strong {
		font-size: 1.3em;
	}
	td {
		vertical-align: middle;
	}
	.rank {
	    border-right: 1px solid #A9A9A9;
		font-size: 33px;
    	width: 60px;
    	vertical-align: middle;
    	text-align: center;

	}


	#players {
		background-color: white;

		height: 240px;
		overflow: hidden;
		@media (max-width: 767px) {

		}


		.img-league-member {
			max-height: 45px;
			border: thin solid #EAEAEA;
			margin-right: 13px;
			margin-left: 11px;
		}

	}
	.league-players-visible {
		height: 100%;
		overflow: auto;
	}

}

#invite {
	padding: 20px 0px;
	border-top: thin solid #A9A9A9;

	i {
		color: grey;
		font-size: 2.1em;
		margin-left: 25px;
	    position: relative;
    	top: 5px;


		&:hover {
			color:#656C96;
			cursor: pointer;

		}
	}

}

.league-member-header {
    background-color: #333333;
    color: #FAEBD7;
    margin-top: 30px;

	.profile-pic {
		float: none;
		border-right: thin solid;
	}
	p {
		margin-top: 9px;
	}

}

#nav-slider-challenge {
	
}

#challenges {
	.events-view {
		background-color: #1F1F1F;
		color:white;
	    padding: 10px 0px;
		.col-xs-4:first-child {
			border-right: thin solid wheat;
		}
		.col-xs-4:last-child {
			border-left: thin solid wheat;
		}

	}

	.event {
		background-color: #444444;
		padding: 30px 0px;
    	border-top: thin solid wheat;
    	color: white;
    	margin-left: 0px;
    	margin-right: 0px;
	}
	#challenges-slider {
		
	}
}

#challenges-slider {
	background-color: white;
	.slide-control {
		background-color: white;
		h4 {
			color: black;
		}
	}

	h1 {
		font-size: 1em;
	    margin-bottom: 2px;	
	}
	.versus {
		p {
			text-transform: uppercase;
		    text-align: center;
		    margin-top: 115px;
		    font-size: 36px;
		}
	}

	.carousel-inner {
		i { 
			font-size: 26px;

		}
		.item .col-xs-5 {
			h1 {
				font-size: 1.5em;
			    margin-top: 7px;

			}
			.border-green {
				border: thin solid green;
			}
		}

		h1.challenges-title {
			border-top: thin solid gray;
		    margin: 30px 0px;
		    font-size: 22px;
		    padding: 20px 0px;
		    font-weight: 300;
		    border-bottom: thin solid gray;
		}
		.challenges-left {
			border-right: thin solid gray;

		}

		.challenge {
			border-bottom: thin dotted gray;
			margin-bottom: 40px;

			p {
				display: inline;
			}

			form {
				display: inline;
				float: right;
			}
		}
	
	}
}


/* Profile Page */

#leagues-slider, #leaderboard, #events-slider {
	h4 {
		color: white;
		background-color: #1D1D1D;
		margin: 0px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
	.action-area {
		padding-top: 25px;
	}
	.slide-control{


		.carousel-control {
			top: 39%;
			opacity: .7;
			bottom: inherit;
			width: 5%;
			left:-50px;
		}
		.carousel-control.right {
	    	left: auto;
	    	right: -59px;
	    	background-color: black;
		}
		
		span {
			font-size: 60px;
		}

		.btn {
			padding: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
	
			
		}
		a:hover {
			color: white;			
		}
		a:visited {
			color: #337AB7;
		}
	}

	.league-leaders {
		background-color: white;

		.second-tier-leaders {
			border-left: 1px solid black;
		}

		.col-sm-6 {
			&:last-child {
				border-right: none;
			}
		}

		.league-leader {
			border-bottom: 1px solid black;
			&:last-child {
				border-right: none;
			}

			i {
				font-size: 40px;
			    padding: 0px 18px;
			    padding-bottom: 13px;
			    color: #B98B17;
			    margin-top: 12px;

			    &:hover {
				    padding: 0px 18px;
				    padding-bottom: 14px;
				    color: white;
				    background-color: #B98B17;
				    margin-top: 0px;
				    padding-top: 11px;
			    }
			}
			.rank {
				float: left;
			    border-right: 1px solid black;
				font-size: 38px;
				width: 74px;
				height: 65px;
				text-align: center;
				line-height: 63px;


			}
			.league-leader-flare {
				float: left;
				margin-right: 11px;
			}
			.league-leader-name {
				float: left;
				margin-top: 22px;
				a {
 				    font-size: 1.2em;
				}
			}
			.league-leader-season-points {
				float: right;
				margin-top: 22px;
				margin-right: 30px;

				@media (min-width: 768px) and (max-width: 991px) {
					margin-right: 0px;					
				}
			}
		}

		.img-league-member {
			max-height: 65px;
		}
	}
	@media (min-width: 768px) {
		.league-leader:nth-child(3), .league-leader:nth-child(6) {
			border-bottom: none;
		}
	}
	@media (max-width: 767px) {
		.league-leader-name {
			margin-left: 10px;
		}
	}
	
}

#league-footer {
	background-color: #1D1D1D;
	border-top: 1px solid white;
	padding: 20px;

	a {
		color: white;
	}

}

.fb-share-button {margin-left: 15px;}

.featherlight {
	.featherlight-content {

	}
	.featherlight-inner {
		width: 100%;

    	height: 450px;
	}
}

.head-challenge-tabs, #challenges {
	.nav-pills {
		li {
			a {
				border-radius: 0px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		li {
			border-right: thin solid white;
		}
		li:last-child {
			border-right: none;
		}
	}

}

.challenges-control {

	.challenge-control {
		margin-top: 18px;
		font-size: .8em;

		.btn-responsive {
		    padding: 2px 8px;
		}
	}



	
	a.left {
		float: left;
		margin-left: 17px;
		span {
			margin-right: 5px;
			font-size: 1em;
		}
	}
	a.right {
		float: right;
		margin-right: 17px;
		span {
			margin-left: 5px;
		}
	}
}

#challenges {
	margin-bottom: 20px;
}


@media (max-width: $screen-xs-max) {
	#league-header {

		.league-profile-pic {
			width: 43px;
		}
		span.sub-header, p.sub-header {
		    margin-right: 4%;
		    font-size: 1em;
		}
	}
	#league-leaderboard {
	    margin-top: 83px;
	    .title {

	    }
	}

	.league-member-header {
		margin-top: 45px; 
	}
	#invite {
		padding: 40px 0px 20px;

		p {
			border-top: dotted thin #AFAFAF;
    		padding-top: 15px;
    	}
	}
	#challenges-slider {
		.versus {
			font-size: 16px;
		}
		.carousel-inner i {
			
		}
	}
}























