.open-leagues, .my-leagues {
	background-color: white;
	margin-bottom: 35px;
	.title {
		text-transform: uppercase;
		text-decoration: underline;
		border-bottom: thin solid black;
		border-top: thin solid black;

	}

	.league {
		padding-top: 2%;
    	margin-bottom: 16px;
    	background-color: #3A3A3A;
		color: white;
		border-bottom: thin solid #293338;
		border-top: thin solid #293338;
		border-radius: 6px;

	}

	.league-flare {
		    max-width: 100px;
		    max-height: 65px;
		    float: left;
		    margin-bottom: 16px;
		    margin-right: 19px;
		    border: thin solid #F5DEB3;
		    border-radius: 4px;
	}
	.league {
		p {
			line-height: 13px;
		}
		.btn {
		    margin-top: 15px;
		}
	}
}

.my-leagues {
			
		.btn-success {
			margin-top: 26px;
		}

}

#new-league-form, #edit-league-form {
	background-color: white;
    padding-bottom: 40px;
    padding-top: 10px;

    .new_league, .edit_league {
    	width: 50%;
    	margin-bottom: 20px;

    	@media (max-width: $screen-xs-max) {
    		width: 100%;
    	}

    	.field {
		    margin-top: 25px;
		    margin-bottom: 25px;
		    padding-bottom: 10px;
		    border-bottom: thin dotted #D4D4D4;

		    p.subtext {
		    	font-weight: 200;
		    }
   		}
    }
}
