.picks-header {
	background-color: white;
	
	h1 {
		font-weight: 200;
		line-height: 20px;
	} 
	
	p {
		font-weight: 300;
	}	
}


#picks-content {

	.carousel {
		margin-top: 20px;
	}

	#picks {

		background-color: white;
		padding-left: 0px;
		padding-right: 0px;
		
		.fight-title {
				color: white;
				width: 100%;
				background-color: #333333;
				padding: 10px 0px;
				text-align: center;
				margin-bottom: 18px;
		}
		.pick {
			background-color: white;
		    padding-bottom: 27px;
		
			.pick-fighters {
				
				label img {
				    border: 1px solid #E4E4E4;
				    cursor: pointer;

				    &:hover {
				    	border: 1px solid #969696;
				    }

				}
				.pick-fighter{
					label {
						font-weight: 300;
						text-transform: capitalize;
					}
					input[type="radio"] {
						display: none;
						&:checked ~ label {
				    		font-weight: 700;
				    		color: green;
				    		img {
				    			border: 4px solid #29AB29;
    							border-radius: 7px;
				    		}
				    	}
				    }

				}
				i {
					font-size: 1.3em;
					color: #525252;
				}


			}
			.pick-methods {
				margin-top: 15px;
				margin-bottom: 20px; 

			}
			.pick-methods, .pick-rounds {
				input[type="radio"] {
					display: none;
					&:checked ~ label {
				    	color: green;
				    }
				    &:not(:checked) ~ label {
				    /* button gradient */
					background: rgba(168,168,168,1);
					background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(64,64,64,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,168,168,1)), color-stop(100%, rgba(64,64,64,1)));
					background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(64,64,64,1) 100%);
					background: -o-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(64,64,64,1) 100%);
					background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(64,64,64,1) 100%);
					background: linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(64,64,64,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#404040', GradientType=0 );

				    }

				}
				label {
					border: 1px outset black;
					padding: 5px;
					color: white;
					width: 100%;
					
					

				}
			}
		}	
		.item.active {
			min-height: 525px;
		}	
	}	
	#picks-sidebar {
		padding-bottom: 10px;
		margin-top: 20px;

		#picks-sidebar-content {
			background-color: white;

			ol, ul {
				padding-left: 0;
		    	list-style-type: none;
		    	max-height: 391px;
    			overflow: auto;

	    		.checked {
	    			background-color: #DDFFC4;
	    			a {
	    				&:before {
					      font-family: FontAwesome;
					      position: static;
					      content: '\f046';
					    }
	    			}
	    		}
	    		.unchecked {

	    			a {
	    				&:before {
					      font-family: FontAwesome;
					      position: static;
					      content: '\f096';
					    }
	    			}
	    		}
	    		.still-unchecked {
	    			background-color: #FF8686;

	    			a {
	    				&:before {
					      font-family: FontAwesome;
					      position: static;
					      content: '\f096';
					    }
	    			}
	    		}


		    	li {
		    		background-color: #E0E0E0;
		    		padding: 10px;
		    		margin-bottom: 15px;
		    		cursor: pointer;
		    		a {
		    			color: #232323;
		    		}



		    	}
		    	.active {
		    		background-color: #474850;
		    		color: white;
		    		a {color: white;}
		    	}
			}
		}

		p {
			padding: 20px 10px;
    		margin: 0px;
    		border-bottom: 1px solid black;
    		border-top: 1px solid black;
		}

	}
}

.pick-actions {
	margin-top: 20px;
}

.picks-controls {
    margin: 0px auto;


	.picks-control {
		position: absolute;
		z-index: 2;
		font-size: 60px;
		top: 46%;
	    bottom: inherit;
	    left: 0px;
	    background-color: black;
	    opacity: .8;
	    color: white;

		span {
			transform: scaleY(1.3);

		}

	}

	.picks-control.right {
		left: auto;
		right: 0px;

		
	}


}

.five-rounds {
	width: 100%;
	margin: auto;
}