.user-header {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;

	i {
		font-size: 20px;
		margin: 0px 5px;
	}

	img {
		position: absolute;
		left: 6px;
	    border: #B3B3B3;
	    border-style: solid;
	    border-width: 1.2px;
	    background-color: white;
	}
	#user-info {
		padding-left: 140px;
	}
	@media (max-width: $screen-xs-max) {
		#user-info {
			padding-left: 0px;
		}
		img {
			position: inherit;
		}
		.profile-pic {
			max-width: 100px;
			float: none;
		}
		a.pull-right {
			float: none !important;
		}

	}
}
#user-points {
	color: white;
	padding-top: 10px;
    font-size: 1.2em;
    border-bottom: thin solid white;
    padding-bottom: 20px;
    margin-bottom: 26px;
	i.fa {
		color: white;
		float: left;
		margin-top: 1px;
	    margin-right: 4px;
	    margin-bottom: 4px;
	    font-size: 20px;
	}
	i.medals {
		float: left;
		margin-right: 14px;

	}
    p, span {
    	color: aqua;

    }
    .user-points {

    }
}
.leagues-header, #picks-header {
	background-color: #1D1D1D;
	padding: 20px;
	border-bottom: thin solid #929292;
	h1 {
		display: inline;
		color: white;
		font-size: 1.4em;
		line-height: 1.7;
		font-weight: 100;
		margin-top: 10px;
	}
}
.leagues-header {
	margin-bottom: 0px;
}
#picks-header {
	margin-top: 20px;
}
.league-header {
	background-color: #333333;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;

	img {
		margin-right: 10px;
	}
	.profile-pic {
		margin-left: 10px;
	}
	.btn {
		margin-left: 15px;
	}
}
.leaderboard {
	background-color: white;
}

.events-header {
	background-color: #333333;
	color: white;
	padding-right: 20px;

	p {
		padding-top: 10px;
		color: white;
	}

	.btn {
		margin-top: 25px;
		margin-right: 10px;
	}
	.btn-warning {
		margin-right: 10px;
	}
	.event-info {
		padding-left: 10px;
	}
	.event-fighter-image {
		width: 117px;
    	margin-top: 12px;
	    margin-left: 4px;
	    margin-right: 4px;
	    border: 1px solid #FBF4D2;
	}
}

/* User settings */

#back-to-profile {
	background-color: gray;

	#back-to-profile-link {
		padding: 15px 0px;
		a {
			color: white;
			font-size: 1.2em;
		}
	}
}

#user-settings {
	background-color: white;
}

.slide-control {
	background-color: #1D1D1D;
	margin: 0px auto;

	p, h4 {
		color: white;
		margin-top: 16px;
	}
	.btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.carousel {	
}

.no-leagues {
	background-color: white;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	p {}
}

.no-picks-made {
	margin-top: 20px;
	color: maroon;
}
.locked-game {
	.fa {
		margin-right: 7px;
		font-size: 27px;
	}
}
#events-slider {

	form.button_to {
		display: inline;
	}
}

@media (max-width: $screen-xs-max) {
	.user-info {
		.user-header {

		}
		#user-points {
		
			i.medals {
				zoom: .4;
			}
		}

	}
	#leagues-slider {


		.league-leaders {
			height: 195px;
	    	overflow: hidden;
		}

		.action-area {
			padding-top: 10px !important;
    		padding-bottom: 10px !important;
		}

	}


	#events-slider {

		.leaderboard {

			td {
    				word-wrap: break-word;
    				display: block;
			}
			thead {
				
				th {
					font-weight: bold;
					color: white;
					background-color: black;
				    padding-top: 20px;
    				text-align: center;
    				padding-bottom: 20px;
				}
			}
		}
	}

	#footer {
		position: relative !important;
	}

}