// Place all the styles related to the Rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fighters-list {
	max-height: 500px;
	overflow: scroll; 
}
