.medals {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    zoom: 0.5;
}

.medals-bronze_medal {
    width: 125px;
    height: 125px;
    background-position: 0 0;
}

.medals-gold_medal {
    width: 125px;
    height: 125px;
    background-position: -125px 0;
}

.medals-silver_medal {
    width: 125px;
    height: 125px;
    background-position: 0 -125px;
}

.medals-the_crown {
    width: 125px;
    height: 125px;
    background-position: -125px -125px;
}
