.rules {
	background-color: white;
	font-family: "Open Sans", normal 10pt Arial,sans-serif;
	font-size: 1em;
	padding: 30px 60px;
	h2 {
		font-size: 1em;
		font-weight: bold;
		text-decoration: underline; 
	}
}