.terms {
	background-color: white;
	color: #1B1A1D;
	padding-bottom: 30px;

	p {
		color: black;

	}
	ol {
		color: black;
	
		li {
			color: black;
		    margin-bottom: 20px;
		    margin-left: 16px;
		    margin-right: 43px;
		    margin-top: 12px;

		}
	}

}