<table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%" style="font-family:Helvetica, Arial, sans-serif;min-width:600px;border-collapse:collapse !important">
  <tr style="font-family:Helvetica, Arial, sans-serif">
    <td align="left" valign="top" width="100%" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;background:repeat-x url(http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg) #ffffff;">
      <center style="font-family:Helvetica, Arial, sans-serif">
        <img src="http://s3.amazonaws.com/swu-filepicker/SBb2fQPrQ5ezxmqUTgCr_transparent.png" class="force-width-gmail" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;height:0px !important;line-height:1px !important;font-size:1px !important">
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff" background="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important;background-color:transparent">
          <tr style="font-family:Helvetica, Arial, sans-serif">
            <td width="100%" height="80" valign="top" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;text-align: center; vertical-align:middle;">
              <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:80px; v-text-anchor:middle;">
                  <v:fill type="tile" src="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" color="#ffffff" />
                    <v:textbox inset="0,0,0,0">
              <![endif]-->
              <center style="font-family:Helvetica, Arial, sans-serif">
                <table cellpadding="0" cellspacing="0" width="600" class="w320" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important">
                  <tr style="font-family:Helvetica, Arial, sans-serif">
                    <td class="pull-left mobile-header-padding-left" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;width:290px;text-align:left;padding-left:10px;vertical-align: middle;">
                      <a href="" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important"><img height="35" src="http://d12gou1j9dtpxz.cloudfront.net/images/short-logo-app-nospace.png" alt="logo" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none"></a>
                    </td>
                    <td class="pull-right mobile-header-padding-right" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;width:290px;text-align:right;padding-left:10px;color: #4d4d4d;">
                      <a target="_blank" href="https://twitter.com/cageagainst" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important"><img width="44" height="47" src="http://s3.amazonaws.com/swu-filepicker/k8D8A7SLRuetZspHxsJk_social_08.gif" alt="twitter" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none"></a>
                      <a target="_blank" href="https://www.facebook.com/cageagainst/" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important"><img width="38" height="47" src="http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif" alt="facebook" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none"></a>
                      <a target="_blank" href="http://cageagainst.com/feed/" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important"><img width="40" height="47" src="http://s3.amazonaws.com/swu-filepicker/hR33ye5FQXuDDarXCGIW_social_10.gif" alt="rss" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none"></a>
                    </td>
                  </tr>
                </table>
              </center>
              <!--[if gte mso 9]>
              </v:textbox>
            </v:rect>
              <![endif]-->
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr style="font-family:Helvetica, Arial, sans-serif">
    <td align="center" valign="top" width="100%" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding:20px 0 30px;background-color: #f7f7f7;" class="content-padding">
      <center style="font-family:Helvetica, Arial, sans-serif">
        <table cellspacing="0" cellpadding="0" width="600" class="w320" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important">
          <tr style="font-family:Helvetica, Arial, sans-serif">
            <td class="header-lg" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;font-size:32px;font-weight:700;line-height:normal;padding:35px 0 0;color:#4d4d4d">


              Confirming your email. 


        </td>
          </tr>
          <tr style="font-family:Helvetica, Arial, sans-serif">
            <td class="free-text" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding:10px 60px 0px;width:100% !important">

				<p>Welcome <%= @email %>!</p>

				<p>You can confirm your account email through the link below:</p>

				<p></p>


            </td>
          </tr>
          <tr style="font-family:Helvetica, Arial, sans-serif">
            <td class="button" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding:30px 0">
              <div style="font-family:Helvetica, Arial, sans-serif">
                <!--[if mso]>
                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:155px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                    <w:anchorlock/>
                      <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                    </v:roundrect>
                <![endif]-->
				<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
              </div>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr style="font-family:Helvetica, Arial, sans-serif">
    <td align="center" valign="top" width="100%" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;background-color: #ffffff;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">
      <center style="font-family:Helvetica, Arial, sans-serif">
        <table cellpadding="0" cellspacing="0" width="600" class="w320" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important">
      	  <tr style="font-family:Helvetica, Arial, sans-serif;text-align: center;">
            <td style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;font-size:32px;font-weight:700;line-height:normal;padding:35px 0 0;color:#4d4d4d;font-size:24px;text-align: center; padding-bottom: 50px; border-bottom: solid thin #C7C7C7;" class="header-md">
              Other ways to engage!
        	</td>
          </tr>
          <tr style="font-family:Helvetica, Arial, sans-serif">
            <td style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding: 40px 0px 75px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important;border-collapse:separate !important;">
                <tr style="font-family:Helvetica, Arial, sans-serif">
                  <td class="info-block" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding:0 20px;width:260px">
                    <table cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important;border-collapse:separate !important;">
                      <tr style="font-family:Helvetica, Arial, sans-serif">
                        <td class="block-rounded" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;border-radius:5px;border:1px solid #e5e5e5;vertical-align:top;width:260px">
                          <table cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important">
                            <tr style="font-family:Helvetica, Arial, sans-serif">
                              <td class="info-img" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;width:258px;border-radius:5px 5px 0 0">
                                <a target="_blank" href="http://cageagainst.com" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important"><img class="info-img" src="http://d12gou1j9dtpxz.cloudfront.net/images/cage-website-thumb.png" alt="website image" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;width:258px;border-radius:5px 5px 0 0"></a>
                              </td>
                            </tr>
                            <tr style="font-family:Helvetica, Arial, sans-serif">
                              <td style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding: 15px;">
                                <div style="font-family:Helvetica, Arial, sans-serif">
                                  <!--[if mso]>
                                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:228px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                                      <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                                      </v:roundrect>
                                  <![endif]-->
                                  <a target="_blank" class="button-width" href="http://cageagainst.com" style="font-family:Helvetica, Arial, sans-serif;color:#676767;width:228px;text-decoration:none !important;background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none; -webkit-text-size-adjust:none;mso-hide:all;">Visit Website!</a>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="info-block" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding:0 20px;width:260px">
                    <table cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important;border-collapse:separate !important;">
                      <tr style="font-family:Helvetica, Arial, sans-serif">
                        <td class="block-rounded" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;border-radius:5px;border:1px solid #e5e5e5;vertical-align:top;width:260px">
                          <table cellpadding="0" cellspacing="0" width="100%" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important">
                            <tr style="font-family:Helvetica, Arial, sans-serif">
                              <td class="info-img" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;width:258px;border-radius:5px 5px 0 0">
                                <a target="_blank" href="http://soundcloud.com/cage-against-the-machine" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important"><img width="258" height="210" class="info-img" src="http://d12gou1j9dtpxz.cloudfront.net/images/podcast-thumb.png" alt="img" style="font-family:Helvetica, Arial, sans-serif;max-width:600px;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;width:258px;border-radius:5px 5px 0 0"></a>
                              </td>
                            </tr>
                            <tr style="font-family:Helvetica, Arial, sans-serif">
                              <td style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding: 15px;">
                                <div style="font-family:Helvetica, Arial, sans-serif">
                                  <!--[if mso]>
                                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:45px;v-text-anchor:middle;width:228px;" arcsize="15%" strokecolor="#ffffff" fillcolor="#ff6f6f">
                                      <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;">My Account</center>
                                      </v:roundrect>
                                  <![endif]-->
                                  <a target="_blank" class="button-width" href="http://soundcloud.com/cage-against-the-machine" style="font-family:Helvetica, Arial, sans-serif;color:#676767;width:228px;text-decoration:none !important;background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;line-height:45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;mso-hide:all;">Listen to Podcast!</a>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
  <tr style="font-family:Helvetica, Arial, sans-serif">
    <td align="center" valign="top" width="100%" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;background-color: #f7f7f7; height: 100px;">
      <center style="font-family:Helvetica, Arial, sans-serif">
        <table cellspacing="0" cellpadding="0" width="600" class="w320" style="font-family:Helvetica, Arial, sans-serif;border-collapse:collapse !important">
          <tr style="font-family:Helvetica, Arial, sans-serif">
            <td style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#777777;text-align:center;line-height:21px;border-collapse:collapse;padding: 25px 0 25px">
              Make Picks | Make Challenges | Awards Gifted<br style="font-family:Helvetica, Arial, sans-serif">
              This is a message from the <strong style="font-family:Helvetica, Arial, sans-serif">Cage Machine:</strong><br style="font-family:Helvetica, Arial, sans-serif">
              101 Broadway Oakland, CA 94607<br style="font-family:Helvetica, Arial, sans-serif">
              This is an automated message from the Cage Machine; please do not reply to this message<br style="font-family:Helvetica, Arial, sans-serif">
              <a href="https://cryptic-thicket-3219.herokuapp.com/terms">Privacy</a> and <a href="mailto:ja.shia@gmail.com?Subject=Unsubscribe%20Please&Body=Please%20Unsubscribe.%20Thank%20you.%20" style="font-family:Helvetica, Arial, sans-serif;color:#676767;text-decoration:none !important">Unsubscribe</a> Policy<br style="font-family:Helvetica, Arial, sans-serif">
              © 2016<br style="font-family:Helvetica, Arial, sans-serif">
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
