<!-- 
<div id="current-tab" class="tab-pane fade in active">
-->

  <div class="row event">
        <div class="col-sm-4">
          <%= @event.title %> <br>
          <%= @event.start_time.strftime("%A, %B %d, %Y") %>
        </div>
        <div class="col-sm-4">
          Score: <%= @event.score(current_user) %>
        </div>
        <div class="col-sm-4">
            <% unless @event.podcast_url == "" %> 
              <a href="<%= @event.podcast_url %>" data-featherlight="iframe" class="btn btn-success">Listen to podcast</a>
    
    
           <% end %>
                <% game_user = current_user %> 
                <% if DateTime.now >= @event.start_time - 4.hours && @event.games.where(user_id: game_user.id) != [] %>
                  <%= link_to "Show Picks", game_path(@event.games.where(user_id: game_user.id).last), class: "btn btn-primary btn-responsive" %>
                <% elsif DateTime.now >= @event.start_time - 4.hours && @event.games.where(user_id: game_user.id) == [] %>
                  <a class="btn btn-default btn-responsive">Event closed</a>
                <% elsif @event.games.where(user_id: game_user.id) == [] %> 
                  <%= link_to "Make Picks", new_game_path(event_id: @event.id), class: "btn btn-success btn-responsive" %> <br>
                <% end %>
        </div>
  </div>

<div id="challenges-slider" class="carousel" data-interval="false">      

    <div class="carousel-inner" role="listbox">
      <% @event.fights.order(order: :desc).each_with_index do |fight, index| %>
        <% if index == 0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %> 
          <h1 class="text-center"><%= fight.bout_type %></h1>
          <p class="text-center"><%= fight.fighter_1.weightclass %></p>
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-6 col-sm-5 text-center">
              <% unless fight.your_winner(current_user) == nil %> 
                <% if fight.your_winner(current_user).winner == fight.fighter_1.full_name %>
                  <%= image_tag fight.fighter_1.image, class: "img img-responsive border-green" %> 
                <% else %>
                  <%= image_tag fight.fighter_1.image, class: "img img-responsive" %> 
                <% end %>
                <% else %> 
                 <%= image_tag fight.fighter_1.image, class: "img img-responsive" %> 
                 <% end %> 

                <% unless fight.fighter_1_info == "" %>                 


                <i type="button" class="fa fa-info-circle pull-left" data-toggle="tooltip" data-placement="right" title="<%= fight.fighter_1_info %>"></i><br>

                <% end %>
                <h1><%= fight.fighter_1.full_name %></h1>
                <% if fight.fighter_1_odds != nil %>    
                  <% if fight.fighter_1_odds >= 0 %>
                      <br><strong class="text-warning">UNDERDOG</strong><br>+
                    <% else %> 
                      <br><strong class="text-success">FAVORITE</strong><br>
                    <% end %>
                    <%= fight.fighter_1_odds %> 
                <% end %>                     
              
              </div>
              <div class="col-sm-2 versus hidden-xs">
                <p>vs</p>
              </div>
              <div class="col-xs-6 col-sm-5 text-center">
              <% unless fight.your_winner(current_user) == nil %> 
                <% if fight.your_winner(current_user).winner == fight.fighter_2.full_name %>
                  <%= image_tag fight.fighter_2.image, class: "img img-responsive border-green" %> 
                <% else %>
                  <%= image_tag fight.fighter_2.image, class: "img img-responsive" %> 
                <% end %>
                <% else %> 
                 <%= image_tag fight.fighter_2.image, class: "img img-responsive" %> 
                 <% end %>
                <% unless fight.fighter_2_info == "" %>

                <i type="button" class="fa fa-info-circle pull-right" data-toggle="tooltip" data-placement="left" title="<%= fight.fighter_2_info %>"></i><br>
                
                <% end %>
                <h1><%= fight.fighter_2.full_name %></h1>
                <% if fight.fighter_2_odds != nil %>    
                  <% if fight.fighter_2_odds >= 0 %>
                      <br><strong class="text-warning">UNDERDOG</strong><br>+
                    <% else %> 
                      <br><strong class="text-success">FAVORITE</strong><br>
                    <% end %>
                    <%= fight.fighter_2_odds %> 
                <% end %>                     
              
              
              </div>
            </div>
          </div>
          <div class="challenges-control">
              <a class="left challenge-control btn btn-responsive btn-default" href="#challenges-slider" role="button" data-slide="prev" onclick="userClicksLeagueChallengesSlider();"><span class="fa fa-angle-double-left" ></span>Previous Fight </a>
              <a class="right challenge-control btn btn-responsive btn-default" href="#challenges-slider" role="button" data-slide="next" onclick="userClicksLeagueChallengesSlider();">
                 Next Fight<span class="fa fa-angle-double-right"></span>
              </a>
              <h1 class="text-center challenges-title">Challenges</h1>
          </div>

          <% unless fight.picks.where(user_id: current_user.id) == [] %> 

          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-6 challenges-left">
              <% fight.picks.where(user_id: @league.users).each do |pick| %>
                <% if pick.winner == pick.fight.fighter_1.full_name %>
                     <div class="challenge">
                      <p><%= pick.user.username %></p>
                       <% unless pick.winner == fight.picks.where(user_id: current_user.id).take.winner %>
                        

                        <% if @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).exists? %> 
                            <% if @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Challenge issued" %>
                              <p class="pull-right">Waiting for reply</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Challenge Accepted" %>
                              <p class="pull-right">Challenge Accepted</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Challenge Rejected" %>
                              <p class="pull-right">Challenge Rejected</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Double Down Issued" %>
                              <%= button_to "Double Down Accept?", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take, :challenge => {  :stage => "Double Down Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Double down accept cost 10 more coins. Are you sure you want to accept this double down?' } %> 
                              <%= button_to "Double Down Rejected?", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take, :challenge => {  :stage => "Double Down Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this double down?' } %> 
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Double Down Rejected" %>
                              <p class="pull-right">Double Down Rejected</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Double Down Accepted" %>
                              <p class="pull-right">Double Down Accepted</p>
                            <% end %>


                        <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).exists?  %>
                          <% if @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Challenge issued" %>
                            <%= button_to "Double Down", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Double Down Issued"} ), method: :put, class: "btn-sm btn-warning btn-responsive", data: { confirm: 'Double down cost 20 coins. Are you sure you want to double down this challenge?' } %> 
                            <%= button_to "Accept", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Challenges cost 10 coins. Are you sure you want to accept this challenge?' } %> 
                           <%= button_to "Reject", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this challenge?' } %>

                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Double Down Issued" %>
                              <p class="pull-right">Double Down Issued. Waiting for reply.</p>

                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Double Down Accepted" %>
                              <p class="pull-right">Double Down Accepted.</p>
                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Double Down Rejected" %>
                              <p class="pull-right">Double Down Rejected.</p>
                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Challenge Accepted" %>
                              <p class="pull-right">Challenge Accepted.</p>
                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Challenge Rejected" %>
                              <p class="pull-right">Challenge Rejected.</p>
                          <% end %>

                          

                        <% else %>
                          <button id="Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>" class="btn-sm btn-primary btn-responsive pull-right" onclick='$("#Cancel_<%= pick.user.id%>_fight_<%= pick.fight.id%>").show(); $(".Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>").show(); $(this).hide();'>Challenge</button> 
                          <button id="Cancel_<%= pick.user.id%>_fight_<%= pick.fight.id%>" class="btn-sm btn-danger btn-responsive pull-right" onclick='$("#Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>").show(); $(".Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>").hide(); $(this).hide();' style="display:none; margin-left:5px;">Cancel</button> 
                          <%= button_to "Coins?", challenges_path( :challenge => { :fight_id => pick.fight.id, :stage => "Challenge issued", :challenger_id => current_user.id, :challenged_id => pick.user.id} ), style: "display:none", class: "btn-sm btn-primary btn-responsive Challenge_#{pick.user.id}_fight_#{pick.fight.id}", data: { confirm: 'Challenges cost 10 coins. Are you sure you want to challenge this player?' }, remote: true %>
                          <%= button_to "Beer?", challenges_path( :challenge => { :fight_id => pick.fight.id, :stage => "Challenge issued", :challenger_id => current_user.id, :challenged_id => pick.user.id, :beer => true} ), style: "display:none", class: "btn-sm btn-primary btn-responsive Challenge_#{pick.user.id}_fight_#{pick.fight.id}", data: { confirm: 'YOU BETTER BE 21! Beer challenges cost 10 coins. Are you sure you want to challenge this player?' }, remote: true  %>
                        <% end %> 
                       


                       <% end %> 
                      </div>
                      <div class="clearfix"></div>
                <% else %>
                  <% next %>
                <% end %> 
              <% end %>
              </div>
              
              <div class="col-xs-6 challenges-right">
              <% fight.picks.where(user_id: @league.users).each do |pick| %>
                <% if pick.winner == pick.fight.fighter_2.full_name %>
                     <div class="challenge">
                      <p><%= pick.user.username %></p>
                       <% unless pick.winner == fight.picks.where(user_id: current_user.id).take.winner %>
                        
                       
                        <% if @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).exists? %> 
                            <% if @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Challenge issued" %>
                              <p class="pull-right">Waiting for reply</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Challenge Accepted" %>
                              <p class="pull-right">Challenge Accepted</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Challenge Rejected" %>
                              <p class="pull-right">Challenge Rejected</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Double Down Issued" %>
                              <%= button_to "Double Down Accept?", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take, :challenge => {  :stage => "Double Down Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Double down accept cost 10 more coins. Are you sure you want to accept this double down?' } %> 
                              <%= button_to "Double Down Rejected?", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take, :challenge => {  :stage => "Double Down Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this double down?' } %> 
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Double Down Rejected" %>
                              <p class="pull-right">Double Down Rejected</p>
                            <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: current_user.id, challenged_id: pick.user.id).take.stage == "Double Down Accepted" %>
                              <p class="pull-right">Double Down Accepted</p>
                            <% end %>


                        <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).exists?  %>
                          <% if @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Challenge issued" %>
                            <%= button_to "Double Down", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Double Down Issued"} ), method: :put, class: "btn-sm btn-warning btn-responsive", data: { confirm: 'Double down cost 20 coins. Are you sure you want to double down this challenge?' } %> 
                            <%= button_to "Accept", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Accepted"} ), method: :put, class: "btn-sm btn-success btn-responsive", data: { confirm: 'Challenges cost 10 coins. Are you sure you want to accept this challenge?' } %> 
                           <%= button_to "Reject", challenge_path(@challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take, :challenge => {  :stage => "Challenge Rejected"} ), method: :put, class: "btn-sm btn-danger btn-responsive", data: { confirm: 'Are you sure you want to reject this challenge?' } %>

                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Double Down Issued" %>
                              <p class="pull-right">Double Down Issued. Waiting for reply.</p>

                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Double Down Accepted" %>
                              <p class="pull-right">Double Down Accepted.</p>
                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Double Down Rejected" %>
                              <p class="pull-right">Double Down Rejected.</p>
                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Challenge Accepted" %>
                              <p class="pull-right">Challenge Accepted.</p>
                          <% elsif @challenges.where(fight_id: pick.fight.id, challenger_id: pick.user.id, challenged_id: current_user.id).take.stage == "Challenge Rejected" %>
                              <p class="pull-right">Challenge Rejected.</p>
                          <% end %>

                        <% else %>
                          <button id="Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>" class="btn-sm btn-primary btn-responsive pull-right" onclick='$("#Cancel_<%= pick.user.id%>_fight_<%= pick.fight.id%>").show(); $(".Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>").show(); $(this).hide();'>Challenge</button> 
                          <button id="Cancel_<%= pick.user.id%>_fight_<%= pick.fight.id%>" class="btn-sm btn-danger btn-responsive pull-right" onclick='$("#Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>").show(); $(".Challenge_<%= pick.user.id%>_fight_<%= pick.fight.id%>").hide(); $(this).hide();' style="display:none; margin-left:5px;">Cancel</button> 
                          <%= button_to "Coins?", challenges_path( :challenge => { :fight_id => pick.fight.id, :stage => "Challenge issued", :challenger_id => current_user.id, :challenged_id => pick.user.id} ), style: "display:none", class: "btn-sm btn-primary btn-responsive Challenge_#{pick.user.id}_fight_#{pick.fight.id}", data: { confirm: 'Challenges cost 10 coins. Are you sure you want to challenge this player?' }, remote: true %>
                          <%= button_to "Beer?", challenges_path( :challenge => { :fight_id => pick.fight.id, :stage => "Challenge issued", :challenger_id => current_user.id, :challenged_id => pick.user.id, :beer => true} ), style: "display:none", class: "btn-sm btn-primary btn-responsive Challenge_#{pick.user.id}_fight_#{pick.fight.id}", data: { confirm: 'YOU BETTER BE 21! Beer challenges cost 10 coins. Are you sure you want to challenge this player?' }, remote: true  %>
                        <% end %> 
                       


                       <% end %> 
                      </div>
                      <div class="clearfix"></div>
                <% else %>
                  <% next %>
                <% end %> 
              <% end %>
              </div>
            </div>
          </div>
          <% else %> 
            <p class="text-center">No Game yet </p>

          <% end %> 
        </div> <!-- ends the item -->
      <% end %> 
    </div> <!-- ENDS THE Carousel INNER --> 
  </div> <!-- end Challenge Slider -->

<!-- 
</div>
-->  