<div id="previous-tab" class="tab-pane fade">
	  <div class="table-responsive leaderboard row">
	    <table class="table table-hover">
	      <thead>
	        <tr>
	          <th>Fight Night</th>
	          <th>Score</th>
	          <th>Actions</th>
	        </tr>
	      </thead>
	      <tbody>
	        <% @events.where(active: false, lock: true).each do |event| %>
	        <tr>
	          <td><%= event.title %></td>
	          <td><%= event.score(current_user) %></td>
	          <td><% unless event.games.find_by(user_id: current_user.id) == nil%><%= link_to "Show Game", game_path(event.games.find_by(user_id: current_user.id)), class: "btn btn-sm btn-primary" %><% end %></td>
	        </tr>
			<% end %>
	      </tbody>
	    </table>
	  </div>
    
</div>
