<div id="upcoming-tab" class="tab-pane fade">

  <div class="table-responsive leaderboard row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Fight Night</th>
          <th>Play</th>
        </tr>
      </thead>
      <tbody>
    
        <% @events.where(active: true).order(:start_time).drop(1).each do |event| %> 
          <tr>
            <td><%= event.title %><br><%= event.start_time.strftime("%A, %B %d, %Y") %></td>
            <td>
              <% if DateTime.now >= event.start_time - 4.hours && event.games.where(user_id: @user.id) != [] %>
                <%= link_to "Show Picks", game_path(event.games.where(user_id: @user.id).last), class: "btn-sm btn-primary" %>
              <% elsif DateTime.now >= event.start_time - 4.hours && event.games.where(user_id: @user.id) == [] %>
                <a class="btn btn-default">Event closed</a>
              <% elsif event.games.where(user_id: current_user.id) == [] %> 
                <%= link_to "Make Picks", new_game_path(event_id: event.id), class: "btn-sm btn-success" %> <br>
              <% else %>
                <% unless event.games.where(user_id: current_user.id).last == [] %> 
                <%= link_to "Change Picks", edit_game_path(event.games.where(user_id: current_user.id).last), class: "btn btn-danger" %> <br>
                <% end %> 
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>