Yo My Cage Cousin!,

It was only a matter of time. Another player has come to take your points. <%= @challenge.challenger.username %> has issued a challenge of your pick of the <%= @challenge.fight.bout %> match, during <%= @challenge.fight.event.title %> fight night. 

Challenges are important because you can take points from your competitors and add them to your own. All you have to do is click Accept.

Get in on the action at: fantasy.cageagainst.com

Having trouble issuing a challenge? I want to help! Take a look at our support section  where you can find answers to common problems during the gameplay and submit help requests.

Your friend the Cage Machine