<%= form_for(@draft) do |f| %>
  <% if @draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
      <% @draft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :fighter_1_id %><br>
    <%= f.number_field :fighter_1_id %>
  </div>
  <div class="field">
    <%= f.label :fighter_2_id %><br>
    <%= f.number_field :fighter_2_id %>
  </div>
  <div class="field">
    <%= f.label :fighter_3_id %><br>
    <%= f.number_field :fighter_3_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
