<p id="notice"><%= notice %></p>

<h1>Listing Drafts</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Fighter 1</th>
      <th>Fighter 2</th>
      <th>Fighter 3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= draft.event %></td>
        <td><%= draft.user %></td>
        <td><%= draft.fighter_1_id %></td>
        <td><%= draft.fighter_2_id %></td>
        <td><%= draft.fighter_3_id %></td>
        <td><%= link_to 'Show', draft %></td>
        <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
        <td><%= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft', new_draft_path %>
