<p>
  <strong>Event:</strong>
  <%= @draft.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @draft.user %>
</p>

<p>
  <strong>Fighter 1:</strong>
  <%= @draft.fighter_1_id %>
</p>

<p>
  <strong>Fighter 2:</strong>
  <%= @draft.fighter_2_id %>
</p>

<p>
  <strong>Fighter 3:</strong>
  <%= @draft.fighter_3_id %>
</p>

<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
