<%= form_for(@flare) do |f| %>
  <% if @flare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flare.errors.count, "error") %> prohibited this flare from being saved:</h2>

      <ul>
      <% @flare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url, "or image URL" %> <br>
    <%= f.text_field :remote_image_url %> 
  </div>
  <div class="field">
    <%= f.label :premium %><br>
    <%= f.check_box :premium %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
