<p id="notice"><%= notice %></p>

<h1>Listing Flares</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Premium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flares.each do |flare| %>
      <tr>
        <td><%= flare.title %></td>
        <td><%= flare.description %></td>
        <td><%= flare.image %></td>
        <td><%= flare.premium %></td>
        <td><%= link_to 'Show', flare %></td>
        <td><%= link_to 'Edit', edit_flare_path(flare) %></td>
        <td><%= link_to 'Destroy', flare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flare', new_flare_path %>
