<%= image_tag @flare.image_url(:profile).to_s, class: "profile-pic" %>
<p>
  <strong>Title:</strong>
  <%= @flare.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flare.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @flare.image %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @flare.premium %>
</p>

<%= link_to 'Edit', edit_flare_path(@flare) %> |
<%= link_to 'Back', flares_path %>
