<p class="text-center"><%= link_to "About", about_path %> | <%= link_to "NDA Terms", terms_path %> | <%= link_to "Game Rules", rules_path %> 
<br>
Designed by <a href="http://jashia.com">Ja Shia</a></p>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

<% unless current_user == nil %>

  ga('create', 'UA-42146948-4', 'auto' );
  ga('set', 'userId', '<%= current_user.id %>');
  ga('set', 'dimension1', '<%= current_user.id %>');
  ga('send', 'pageview');

<% else %>

  ga('create', 'UA-42146948-4', 'auto');
  ga('send', 'pageview');

<% end %>

</script>