<nav class="navbar navbar-default">
	<div class="container">
			<% if user_signed_in? %>
				<%= link_to image_tag("short-logo-app-nospace.png", :class => "img img-responsive"), root_url, :class => "cage navbar-brand" %>
					<div class="cage-header-info pull-right">
						<p>
							<strong><%= current_user.username %></strong>
						</p>
						<%= link_to 'Logout?', destroy_user_session_path, method: :delete %><br>
						<a href="#" class="help-please">Tips?</a>
						<a href="#" class="hide-help">Hide Tips?</a>
 					</div>
			<% else %>
				<div id="logo" class="navbar-header">
					<%= link_to image_tag("short-logo-app-nospace.png", :class => "img img-responsive"), root_url %>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span>Login</span>
			      </button>	
				</div>

				<div class="collapse navbar-collapse" id="login">
					<%= form_for(:user, :url => session_path(:user), :html => { :class => "navbar-form navbar-right", :role => "form" }) do |f| %>
								  		<div class="input-group">
							                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								  			<%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
								  		</div>
								  		<div class="input-group">
					                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								  			<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
								  		</div> 
						<%= f.submit 'Login', :class => "btn btn-info btn-login" %> <br>
					    <%= f.check_box :remember_me %>
					    <div id="remember-me-label"><%= f.label :keep_me_logged_in %></div>
					    <%= link_to "Forgot your password?", new_password_path(:user) %>
					<% end %>
				</div>
			<% end %> 
	</div>
</nav>
