<!DOCTYPE html>
<html>
<head>
  <title>CageMachine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/shim' %>
    <% if user_signed_in? %>
      <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script>
            var pusher = new Pusher("<%= Pusher.key %>", {
              encrypted: true
            });

            var channel = pusher.subscribe('challenges-<%= current_user.id %>');
            channel.bind('challenge_issued', function(data) {
                toastr.info(data.message);
            });
            // Rigged up the notifications using toastr
            toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "0000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
        </script>
    <% end %>

</head>
<body>
  <%= render 'layouts/header' %>

<div id="app-wrap" class="container">
  <% if user_signed_in? %>
    <%= render partial: "shared/back_to_profile" %> 
  <% end %> 

  <%= render partial: "shared/flash_messages", flash: flash %>
	
	<%= yield %>
  
</div>
<div class="container">
  <div class="row">
    <p id="podcast-link" class="text-center white-text">Want fight predictions from the experts? Listen to <a href="http://cageagainst.com/category/podcasts/" target="_blank">Cage Against the Machine MMA Podcast</a></p>
  </div>
</div>


<div id="footer">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
