<body bgcolor="#f7f7f7" style="font-family:Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;height:100%;color:#676767;width:100% !important;margin:0 !important">
  	<%= yield %>
</body>